[2014-05-07 19:32] jwood803 opened #1 "Implement F# Exercises"
@kytrinyx I hope you don't mind me adding this.

I figured that since this hasn't been started yet, I'd take the initiative. I've been looking at doing some F# for a while, anyway. :]

Is there a requirement to how many or which exercises it should have to be considered for launch?

[2014-07-06 14:02] jwood803 opened #13 "Implement Travis CI Build"
After looking at a few other projects here on GitHub I've noticed that they were able to find a way to use Travis CI with .NET projects. After a bit of searching it seems there is a way to [implement](http://danlimerick.wordpress.com/2013/02/03/build-your-open-source-net-project-on-travis-ci/) [this](http://stackoverflow.com/questions/16751772/how-do-i-use-travis-ci-with-c-sharp-or-f).

I can defi

[2014-07-08 16:47] #1 closed, assigned to nobody

[2014-08-31 19:18] kytrinyx opened #14 "Delete configlet binaries from history?"
I made a really stupid choice a while back to commit the cross-compiled
binaries for configlet (the tool that sanity-checks the `config.json`
against the implemented problems) into the repository itself.

Those binaries are HUGE, and every time they change the entire 4 or 5 megs get
recommitted. This means that cloning the repository takes a ridiculously long
time.

I've added a script that can be

[2014-08-31 22:52] #14 closed, assigned to nobody

[2014-12-04 14:31] kytrinyx opened #19 "How to set up a local dev environment"
See issue exercism/exercism.io#2092 for an overview of operation welcome contributors.

-----------------------

Provide instructions on how to contribute patches to the exercism test suites
and examples: dependencies, running the tests, what gets tested on Travis-CI,
etc.

The [contributing document](https://github.com/exercism/x-api/blob/master/CONTRIBUTING.md)
in the x-api repository describes

[2015-01-24 17:58] kytrinyx opened #20 "gigasecond: use times (not dates) for inputs and outputs"
A duration of a gigasecond should be measured in seconds, not
days.

The `gigasecond` problem has been implemented in a number of languages,
and this issue has been generated for each of these language tracks.
This may already be fixed in this track, if so, please make a note of it
and close the issue.

There has been some discussion about whether or not gigaseconds should
take daylight savings ti

[2015-01-24 18:25] jwood803 commented on #20
I'll take a look at this.

[2015-03-16 13:01] kytrinyx opened #32 "Add helpful information to the SETUP.md"
The contents of the SETUP.md file gets included in
the README.md that gets delivered when a user runs the `exercism fetch`
command from their terminal.

At the very minimum, it should contain a link to the relevant
language-specific documentation on
[help.exercism.io](http://help.exercism.io).

It would also be useful to explain in a generic way how to run the tests.
Remember that this file will b

[2015-03-22 19:47] jwood803 commented on #19
Not quite sure if there's much else I can add for this in here. I can go through to see if the steps still seem fairly clear, though.

[2015-03-22 20:57] kytrinyx commented on #19
Ok, if it seems good, go ahead and close the issue. I basically shotgunned this issue into every single language track repo.

[2015-03-23 03:17] jwood803 commented on #19
Closing, but it may be a good idea to review the wording and all every once and a while.

[2015-03-23 03:17] #19 closed

[2015-03-23 14:58] kytrinyx commented on #19
Yeah, but we don't need an open issue for that :)

Thanks

[2015-03-28 16:19] ErikSchierboom commented on #13
As far as I can tell, the Travis build works nicely. So perhaps this issue can be closed?

[2015-03-28 16:29] jwood803 commented on #13
I was hoping to add FAKE to it so it can actually build and run the tests. Unfortunately, I haven't gotten too far with it :disappointed:

[2015-03-28 16:52] ErikSchierboom commented on #13
@jwood803 Have you consider using AppVeyor?

[2015-03-28 16:54] jwood803 commented on #13
I've [started](https://ci.appveyor.com/project/jwood803/xfsharp) to :}

Maybe I should pick this back up. Would be great to learn more on FAKE.

[2015-03-28 17:06] ErikSchierboom commented on #13
Cool, appveyor is a really nice tool. FAKE is something I wanted to get to learn to for a long time. Might look into it soon.

[2015-04-08 11:28] #20 closed

[2015-07-26 14:53] pminten commented on #32
The SETUP.md file is rather unhelpful if you're an Linux command line user.

I've found the following to get me at least to the point where I can run the tests:

* First in the xfsharp root dir run `nuget Install nunit.runners  -OutputDirectory packages -ExcludeVersion` (only needed once)
* Then in the exercise directory run something like `fsharpc --target:library Bob.fs BobTest.fs -r ../packages

[2015-07-26 15:25] pminten commented on #32
Not sure how helpful it is, but with the following trimmed down `Bob.fsproj` I can get xbuild on Linux to build it with packages in xfsharp/packages. Unfortunately it doesn't solve the runner problem (I'm guessing that shouldn't be too hard, but I never used msbuild before).

[code]

[2015-07-26 15:31] kytrinyx commented on #32
/cc @jwood803 Just making sure you're seeing this.

[2015-07-26 17:01] pminten commented on #32
Improved version of .fsproj, this one runs unit tests after building:

[code]

[2016-01-21 00:55] kytrinyx opened #52 "Move exercises to subdirectory"
The problems api (x-api) now supports having exercises collected in a subdirectory
named `exercises`.

That is to say that instead of having a mix of `bin`, `docs`, and individual exercises,
we can have `bin`, `docs`, and `exercises` in the root of the repository, and all
the exercises collected in a subdirectory.

In other words, instead of this:

[code]

we can have something like this:

[code]

[2016-01-21 08:05] #52 closed

[2016-01-24 12:28] ErikSchierboom commented on #13
@jwood803 I've been looking into FAKE lately, and I think I can be of assistance here. The only thing is that FAKE expects a project or solution file as far as I can tell, and we don't have one. Should we create one?

[2016-01-24 15:26] jwood803 commented on #13
Awesome! I *might* still have a branch there with my changes so far.

I was attempting to compile the files directly since FAKE exposes the F# compiler. You have any thoughts on that approach?

[2016-01-24 16:21] ErikSchierboom commented on #13
I haven't looked into that yet. Do you have any sample code?

[2016-01-24 16:26] jwood803 commented on #13
Not complete at all but here's what I've started on - https://github.com/jwood803/xfsharp/blob/build/build.fsx

[2016-01-24 18:00] ErikSchierboom commented on #13
Thanks, I'll see if I can get something working.

[2016-01-24 18:14] jwood803 commented on #13
Awesome! I'll be glad to help, as well, if anything comes up.

[2016-01-28 08:26] ErikSchierboom commented on #13
I managed to get something working! You can find the code in my [fake-testing](https://github.com/ErikSchierboom/xfsharp/tree/fake-testing) branch.

Here is how it works:

- You execute the build using `build.ps1` (once that is done, I'll work on a shell version).
- The `build.sh1` file uses FAKE to execute `build.fsx`

The build script does the following things, in order:

- Clean the build direc

[2016-01-29 23:45] kytrinyx opened #54 "triangle: incorrect test in some tracks"
Please check if there's a test that states that a triangle with sides 2, 4, 2 is invalid. The triangle inequality states that for any triangle, the sum of the lengths of any two sides must be greater than or equal to the length of the remaining side. If this doesn't affect this track, go ahead and just close the issue.

[2016-01-30 11:48] ErikSchierboom commented on #54
There is such a test. See: https://github.com/exercism/xfsharp/blame/master/exercises/triangle/TriangleTest.fs#L76

[2016-01-30 15:34] kytrinyx commented on #54
There shouldn't be such a test. 2, 4, 2 is valid.

[2016-01-31 16:07] jwood803 commented on #13
@ErikSchierboom That's awesome! Looks like you did much better than I did. :]

Usually dependencies are left out and the `.sh` or `.ps` script will redownload if they aren't found using NuGet or Paket.

[2016-01-31 19:19] ErikSchierboom commented on #54
Whoops! I'll re-open the issue then.

[2016-01-31 19:21] ErikSchierboom commented on #13
@jwood803 Okay, I'll modify the script to download ll dependencies then.

[2016-02-01 14:46] kytrinyx commented on #54
Thanks--there's some confusion here. Check out the discussion in the erlang track: https://github.com/exercism/xerlang/issues/85

[2016-02-01 19:17] ErikSchierboom commented on #32
@pminten @jwood803 @kytrinyx I am working on a command-line script that can build and test all exercises. Currently, it is intended to be used in the Travis build (#13), but I could probably rather easily amend it to allow it to run tests from the command-line. I could even do exercise-specific test runs. The only thing I'm not sure of: how can I supply additional files to users when they fetch th

[2016-02-01 19:24] ErikSchierboom commented on #13
@jwood803 I've updated the script to download the dependencies, added a UNIX bash script and submitted it as a [PR](#55). Could you check if things work as you expect?

[2016-02-01 20:34] jwood803 commented on #13
Awesome! I'll check it out over the next day or two. I also don't see why we can't do the same in the C# repository. I *believe* FAKE can use the C# compiler, as well.

[2016-02-02 09:21] ErikSchierboom commented on #13
Well, I already searched for that but I could not find anything about Roslyn. Maybe that would require us to write a FAKE plugin?

[2016-02-02 14:48] jwood803 commented on #13
The [CscHelper](http://fsharp.github.io/FAKE/apidocs/fake-cschelper.html) wouldn't work? Granted, I'm just speculating and haven't used it.

[2016-02-02 14:58] ErikSchierboom commented on #13
Whoops! I totally missed that. I was searching for Roslyn and came up empty. This looks promising! I'll be looking at that later.

[2016-02-02 18:09] kytrinyx commented on #32
Any files that you add to an exercise will be fetched to the user, unless it has [Ee]xample in the file name.

[2016-02-02 19:03] ErikSchierboom commented on #32
@kytrinyx To be clear, that means that if I add a file named `"test.sh"` in the folder `exercise/atbash`, that file will be downloaded when the `atbash` exercise is fetched?

Is it also possible to have a file fetched in the root of the language directory, in this case F#?

[2016-02-02 19:03] ErikSchierboom opened #56 "Implement AppVeyor build"
Having an AppVeyor build means we get to test the code on Windows. Now that our build script is almost finished, it seems like a no-brainer.

@jwood803 I have done this before, shall I assign myself to it?

[2016-02-02 19:05] jwood803 commented on #56
Sure! I haven't messed with AppVeyor in quite a while. If any help is needed, let me know.

[2016-02-02 20:24] ErikSchierboom commented on #13
This is fixed by PR #55.

[2016-02-02 20:24] #13 closed

[2016-02-02 20:32] ErikSchierboom opened #58 "Add AppVeyor and Travis badges to README.md"

[2016-02-02 20:35] ErikSchierboom commented on #56
@jwood803 Well that was easy! PR #57 also adds AppVeyor support. :sunglasses:

[2016-02-02 20:35] #56 closed

[2016-02-02 20:37] #58 closed

[2016-02-02 20:38] ErikSchierboom commented on #58
@jwood803 And with the badges added to the README, it's time to try and get this working for the xcsharp repository. And hopefully we can also use this build script to allow people to test the F# exercises from the command-line, but I'm waiting for feedback from Katrina.

[2016-02-02 21:10] kytrinyx commented on #32
Correct -- adding a `test.sh` or even a `bin/test.sh` or whatever would be delivered to the user (subdirectories are included recursively).

Not yet. It's on the wishlist, but I haven't had time to implement that. It would require changes to both the x-api and the cli.

- https://github.com/exercism/x-api/issues/29
- https://github.com/exercism/cli/issues/88

[2016-02-02 21:22] ErikSchierboom commented on #32
Thanks for the heads-up. We'll wait for that then :)

[2016-02-03 15:16] jwood803 commented on #13
Heh, @ErikSchierboom I just saw this was just pushed :p

https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/FscHelper.fs

[2016-02-03 19:19] ErikSchierboom commented on #13
@jwood803 Yes, the `FscHelper` module is what I use in my FAKE script. I'm very happy everything works :)

[2016-02-03 19:29] jwood803 commented on #13
Nice! It must have just been updated. I think I saw the last commit to it was around 24 hours ago from now.

[2016-02-03 19:38] ErikSchierboom commented on #54
@kytrinyx I just read the Erlang discussion. Is the consensus there that the test should be modified or that it should be removed?

[2016-02-03 19:59] ErikSchierboom commented on #13
@jwood803 Indeed. Next up is checking to see if I can get something to work for the C# track.

[2016-02-04 21:55] kytrinyx commented on #54
I'm not sure yet. Let's give this a week, and then I'll summarize the discussion somewhere, make a recommendation, and then ask people to holler if they disagree.

[2016-02-25 08:01] ErikSchierboom opened #59 "Use idiomatic F#"
Many of the example implementations use classes to implement the desired functionality. However, I'm not sure this is idiomatic F#. Wouldn't just having some functions be more idiomatic? Especially when the class only has one method. In general, should our examples use object-oriented code or functional code? I think we should do the latter.

As an example, consider the `binary` exercise's example

[2016-02-25 08:51] ErikSchierboom opened #60 "Implement F# exercises"
## Minimum Exercises to Implement

- [x] anagram
- [x] bob
- [x] etl
- [x] grade-school
- [x] hamming
- [x] leap
- [x] nucleotide-count
- [ ] phone-number (JW)
- [x] robot-name
- [x] word-count

## Additional Exercises to Implement

After the initial set of exercises the following should be implemented to have a more complete test suite.

- [x] accumulate
- [x] allergies
- [x] atbash-cipher
- [x]

[2016-02-25 13:07] jwood803 commented on #59
Honestly, when I first started adding exercises I was just learning F# so they will definitely be structured more like C#. I concur, though. It would be best to keep things more functional the way it's more intended to be used.

[2016-02-25 13:12] ErikSchierboom commented on #59
@jwood803 Well, I also have a C# background and are still learning the joys of functional programming :) I will try to make the new exercises be more functional, and we'll see if that works out.

[2016-02-25 13:15] jwood803 commented on #59
Sounds good, @ErikSchierboom! Also, if you ever wish to pair on some of these, just let me know. I need to learn more of this stuff, as well. :p

[2016-02-25 13:23] ErikSchierboom commented on #59
@jwood803 Great idea! How would you like to do that?

We can also "claim" exercises to prevent us doing double work. I've just assigned myself to the `kindergarten-garden` exercise in #60. Would that work for you?

[2016-02-25 13:26] jwood803 commented on #59
Maybe join.me or Screenhero? I can take a shot at `phone-number`, as well. Hope you don't expect it real soon, though. :}

[2016-02-25 13:36] ErikSchierboom commented on #59
Sounds like a plan! Just send me an email (it's on [my profile](https://github.com/ErikSchierboom)) when you want to plan something.

I've added your initials to `phone-number`, I don't expect anything :)

[2016-02-26 08:48] ErikSchierboom opened #61 "Update to NUnit 3"
To keep parity with the C# track, the tests should be updated to NUnit 3.

[2016-03-01 17:49] #61 closed

[2016-03-13 16:24] kytrinyx commented on #54
There was a bit of confusion with this issue. I've summarized my current understanding here: https://github.com/exercism/x-common/issues/202

I am closing this issue. If necessary I will open a new issue once we have come to an agreement about how to resolve the inconsistencies and what exact steps to take.

[2016-03-13 16:24] #54 closed

[2016-03-23 12:32] petertseng opened #85 "Pass explicit list of multiples in "Sum of Multiples" exercise rather than defaulting to 3 and 5"
Hello, as part of https://github.com/exercism/x-common/issues/198 we'd like to make the sum of multiples exercise less confusing. Currently, the [README](https://github.com/exercism/x-common/blob/master/sum-of-multiples.md) specifies that if no multiples are given it should default to 3 and 5.

We'd like to remove this default, so that a list of multiples will always be specified by the caller. Th

[2016-03-24 09:14] #85 closed

[2016-03-24 13:22] jwood803 commented on #85
You're just on it, @ErikSchierboom! :smile:

[2016-03-24 14:16] ErikSchierboom commented on #85
Yee-hah! :sunglasses:

[2016-03-25 14:49] ErikSchierboom commented on #60
@jwood803 And this issue is almost done! The only exercise left open is the `phone-numbers` exercise, which you indicated you'd like to submit. Once that is done, we have a nice track of exercises :)

I'll move on to the issue #59, converting existing exercises to a more functional style.

[2016-03-25 14:50] jwood803 commented on #60
Awesome! Didn't realize you worked so quick :p

[2016-03-26 08:57] ErikSchierboom commented on #60
I really liked this issue :) If you need any help, let me know.

[2016-04-02 17:20] kytrinyx opened #93 "Verify that nothing links to help.exercism.io"
The old help site was deprecated in December 2015. We now have content that is displayed on the main exercism.io website, under each individual language on http://exercism.io/languages.

The content itself is maintained along with the language track itself, under the `docs/` directory.

We decided on this approach since the maintainers of each individual language track are in the best position to

[2016-04-02 22:05] kytrinyx commented on #60
We have a new process that you can use to find exercises to implement.
You can read all about it [here](https://github.com/exercism/x-common/blob/master/CONTRIBUTING.md#porting-an-exercise-to-another-language-track).

I'm closing this issue in favor of the process described in the Contributing guide linked to above.

Thanks!

[2016-04-02 22:05] #60 closed

[2016-04-05 12:06] #93 closed

[2016-04-05 13:36] ErikSchierboom opened #96 "Should we use libraries in our examples?"
For some exercises, it makes sense to use an external library to do the heavy lifting. A prime example of this is when you need to do some more advanced text parsing, for example in the [wordy](exercises/wordy/Example.fs) exercise. For that specific exercise, it might make sense to use the [FParsec](http://www.quanttec.com/fparsec/) library.

Should we allow ourselves to use libraries in our examp

[2016-04-06 17:14] kytrinyx commented on #96
I think that part of learning a language is to become familiar with the tools that let you use that language to solve specific types of problems.

In the Go track we've avoided libraries, but only because the Go standard library is big and covers everything we've had a need for.

I think that it would make sense to use (and recommend using) things like FParsec.

[2016-04-06 23:53] kytrinyx commented on #93
Don't mind me.

I'm adding a reference so we get a visual "todo" list in the top level issue,
https://github.com/exercism/todo/issues/181

[2016-04-07 02:38] kytrinyx opened #97 "scrabble-score: replace 'multibillionaire' with 'oxyphenbutazone'"
The word _multibillionaire_ is too long for the scrabble board. _Oxyphenbutazone_, on the other hand, is legal.

Please verify that there is no test for _multibillionaire_ in the scrabble-score in this track. If the word is included in the test data, then it should be replaced with _oxyphenbutazone_. Remember to check the case (if the original is uppercase, then the replacement also should be).

I

[2016-04-07 02:48] kytrinyx opened #98 "binary: improve tests for invalid numbers"
We should have separate tests for:

- alphabetic characters at the beginning of a valid binary number
- alphabetic characters at the end of a valid binary number
- alphabetic characters in the middle of an otherwise valid binary number
- invalid digits (e.g. 2)

If the test suite for binary has test cases that cover these edge cases, this issue can safely be closed.

See https://github.com/exercis

[2016-04-07 02:58] kytrinyx opened #99 "rna-transcription: don't transcribe both ways"
I can't remember the history of this, but we ended up with a weird non-biological thing in the RNA transcription exercise, where some test suites also have tests for transcribing from RNA back to DNA. This makes no sense.

If this track does have tests for the reverse transcription, we should remove them, and also simplify the reference solution to match.

If this track doesn't have any tests for

[2016-04-07 12:03] ErikSchierboom commented on #96
Thanks for the reaction. I'll use libraries only when it makes sense of course.

[2016-04-07 12:03] #96 closed

[2016-04-07 12:36] #59 closed

[2016-04-07 17:08] kytrinyx opened #101 "clock: canonical test data has been improved"
The JSON file containing canonical inputs/outputs for the Clock exercise has gotten new data.

There are two situations that the original data didn't account for:

- Sometimes people perform computation/mutation in the display method instead of in add. This means that you might have two copies of clock that are identical, and if you add 1440 minutes to one and 2880 minutes to the other, they displ

[2016-04-12 12:59] #97 closed

[2016-04-12 12:59] #98 closed

[2016-04-12 12:59] #99 closed

[2016-04-12 12:59] #101 closed

[2016-05-04 18:28] ErikSchierboom commented on #32
@kytrinyx Any progress on the two issues mentioned before?

- https://github.com/exercism/x-api/issues/29
- https://github.com/exercism/cli/issues/88

[2016-05-04 19:10] kytrinyx commented on #32
No, it has totally gotten lost in the chaos, and I haven't worked on it. As of right now I am putting it on my "think about and make progress on this in the near future" list. Thanks for the reminder!

[2016-05-04 19:22] ErikSchierboom commented on #32
@kytrinyx No problem, I know you're terribly busy! Thanks for the heads-up.

[2016-05-28 17:28] IanWhitney opened #129 "New tests for the Pangram problem"
We have found that the Pangram tests miss edge cases allowing students to pass all of the current tests with an incorrect implementation.

To cover these cases we have added new tests to the Pangram test set. Those new tests were added [in this commit](https://github.com/exercism/x-common/commit/1cc803d847d146faf460982617fad2c2194d3dd2#diff-aadf160c690615b0ad89e2f12b8e779b)

Since this track imple

[2016-05-29 11:00] #129 closed

[2016-06-01 07:57] ErikSchierboom opened #133 "Order exercises by increasing difficulty"
At the moment, the exercises are kinda haphazardly ordered. Ideally, we'd list the exercises in progressive difficulty order, as that proveds the best experience for the user.

In the Rust track, they went about this problem by [looking at the concepts](https://github.com/exercism/xrust/issues/127) that are required. This might be a bit infeasable for this track, as there are so many exercises.

I

[2016-06-01 10:07] jwood803 commented on #133
I wonder if that could be something we can add to the config...

[2016-06-01 10:23] ErikSchierboom commented on #133
Well, the config file is JSON, so that means no comments.

[2016-06-02 23:43] ryanplusplus opened #134 "Updated tests for the Custom Set problem"
In order to reduce the amount of code required to pass incremental tests (assuming that users pass tests starting from the top), the order of the tests was modified slightly.

Since this track implements Custom Set, please take a look at the new custom-set.json file and see if your track should update its tests.

If you do need to update your tests, please refer to this issue in your PR. That help

[2016-06-04 03:35] rmunn opened #135 "Missing question mark in one test"
The Wordy test suite is missing a `?` in the "What is 4 minus -12" question. Since I had written a "is the question well-formed?" test into my solution that (among other things) tested for a question mark at the end, that meant that my code failed on that one unit test. My guess is that that difference wasn't intended, and that the "What is 4 minus -12" test should have been "What is 4 minus -12?"

[2016-06-04 16:01] #135 closed

[2016-06-04 16:01] ErikSchierboom commented on #135
Well spotted!

[2016-06-04 16:28] #134 closed

[2016-06-05 07:41] rmunn commented on #135
I spotted it because I had written a "question ends with a ? character"
check in my solution, and the check failed on one unit test.
On Jun 4, 2016 23:01, "Erik Schierboom" <notifications@github.com> wrote:

[2016-06-13 07:38] ErikSchierboom opened #144 "Don't force record type implementation in Binary Search Tree exercise"

[2016-06-13 12:54] jovaneyck commented on #133
This makes a lot of sense.

I'm only about 1/3rd in the F# track and experience this. Some exercises require understanding of a lot of concepts if you want to solve them elegantly (partial active patterns, options, list functions, piping,...), while the follow-up exercise is a walk in the park again. I'll see if I can find the time to pick out the ones I found especially tricky.

I found the ones

[2016-06-13 13:07] ErikSchierboom commented on #133
@jovaneyck Thanks a lot in advance already! There are some exercises with a non-functional API. Do you think we should be converting them to proper functional exercises?

[2016-06-13 14:18] kytrinyx opened #145 "Copy track icon into language track repository"
Right now all of the icons used for the language tracks (which can be seen at http://exercism.io/languages) are stored in the exercism/exercism.io repository in `public/img/tracks/`. It would make a lot more sense to keep these images along with all of the other language-specific stuff in each individual language track repository.

There's a pull request that is adding support for serving up the t

[2016-06-14 05:55] rmunn commented on #133
@ErikSchierboom I feel like I should try to complete all the exercises before I can really rank them, but I do think that the ones with a non-functional API are worth converting.

[2016-06-14 11:36] ErikSchierboom commented on #133
@rmunn Sure, that totally makes sense! I'll rework the non-functional exercises.

[2016-06-14 11:37] ErikSchierboom opened #146 "Use functional-first approach"
Some exercises still use an OO approach, such as the Clock exercise. These exercises should be converted to functional versions. Also see: #144

Exercises to be converted:

- [ ] [bank-account]
- [ ] [binary-search-tree]
- [ ] [circular-buffer]
- [ ] [clock]
- [ ] [deque]
- [ ] [robot-name]

[2016-06-14 13:22] IanWhitney opened #147 "New test for the Isogram problem"
We have found that the Isogram tests miss an edge case allowing students to pass all of the current tests with an incorrect implementation.

To cover these cases we have added a new test to the Isogram test set. This new test was added in [pull request #265](https://github.com/exercism/x-common/pull/265), which also describes the reason for the new test.

Since this track implements Isogram, pleas

[2016-06-14 15:02] #145 closed

[2016-06-17 08:35] #147 closed

[2016-06-18 08:01] ErikSchierboom commented on #144
This will be solved as part of #146

[2016-06-18 08:01] #144 closed

[2016-06-18 09:15] #146 closed

[2016-06-18 09:16] ErikSchierboom commented on #133
@jovaneyck PR #152 was just merged, which converts the six remaining OO exercises to functional ones :)

[2016-07-04 23:53] rmunn opened #155 "NUnit failures on list-ops test"
While working on the `list-ops` exercise, I was getting some failures on a `foldr` implementation that I was certain was correct. The failures looked like this:

[code]

After some troubleshooting, I discovered that my implementation *was* correct, and the `NullReferenceException` was happening inside NUnit 2.6.3 when it tried to compare two very large F# lists. I was able to prove this by creatin

[2016-07-05 00:20] rmunn commented on #155
I also had to tweak two more tests where NUnit was failing to compare two large lists:

[code]

With those tweaks, the unit tests all passed.

This is with NUnit 2.6.3 on Mono 4.2.4 (I downgraded from Mono 4.4 to 4.2 on my main F# dev box because using Mono 4.4 was triggering fsharp/FAKE#1196, but downgrading Mono to 4.2 fixed that issue).

[2016-07-05 07:26] ErikSchierboom commented on #155
@rmunn That is weird. Could you perhaps try it using NUnit 3.2?

[2016-07-09 09:39] rmunn opened #156 "Additional test suggested for Parallel Letter Frequency"
The README for the Parallel Letter Frequency exercise is quite terse; TOO terse, in fact, because I couldn't tell if letters with diacritics (ö) were supposed to be counted along with the same letter *without* a diacritic (o). Since one of the supplied texts in the unit tests is in German, this mattered to the results. I eventually ran the three supplied texts through a letter-frequency counter. S

[2016-07-09 16:00] ErikSchierboom commented on #156
@rmunn Great suggestion. I'll add the test.

[2016-07-14 12:48] ErikSchierboom commented on #155
@rmunn Were you able to reproduce this on NUnit 3.2?

[2016-07-14 12:59] #156 closed

[2016-07-16 06:04] rmunn commented on #155
Running it with the NUnit 3.2 console runner, I got a `Stack overflow in unmanaged: IP: 0x5f4bbd, fault addr: 0x7f3d184b9ff8` error when I used the `Assert.That(l1, Is.EqualTo(l2))` approach. But then I noticed I was still compiling against the NUnit 2.6 DLLs, even though the `.fsproj` file I'm using was pointing at an NUnit 3.2 `nunit.framework.dll` -- instead of grabbing the DLL pointed at by th

[2016-07-16 06:08] rmunn opened #158 "Another test suggested for Parallel Letter Frequency exercise"
It might be a good idea to add a test to the Parallel Letter Frequency exercise that runs the submitted function against 3000 texts: 1000 copies of each of the 3 texts already supplied in the unit tests (e.g., by doing `let lotsOfTexts = List.replicate 1000 [textA; textB; textC] |> List.concat`). I mentioned this idea in the comments to [my solution](http://exercism.io/submissions/045d25024e8144d8

[2016-07-17 07:35] ErikSchierboom commented on #155
@rmunn Thanks for checking! I'll close this issue then.

[2016-07-18 07:58] #158 closed

[2016-07-19 08:15] rmunn commented on #155
Although I agree with closing the issue, I also suggest adding a comment to the unit test(s) that fail with 2.6 saying, "If you find that you get a `NullReferenceException` running this particular test, either run it with NUnit 3, or else comment this test out and uncomment the one below". And the one below is the same test rewritten with a `Assert.That(actual, Is.EqualTo(expected))` style.

That

[2016-07-19 12:09] ErikSchierboom commented on #155
I'm not sure about adding a commented, alternative version of the test. This to me increases confusion. Adding a comment about an exception with NUnit 2.6 is of course a good idea.

[2016-07-19 14:53] ErikSchierboom opened #161 "Fix failing Travis build"

[2016-07-19 14:53] ErikSchierboom opened #162 "Fix failing Appveyor build"

[2016-07-19 14:56] ErikSchierboom commented on #155
@rmunn One last thing, could you try to run it in NUnit 2.6 with `let big = 50000` (half as big) or `let big = 10000`? I am wondering where the cutoff point is.

[2016-07-19 16:01] rmunn commented on #155
After an involuntary reboot (brief power outage), I can't actually get the unit test in the exercise to fail under 2.6 any longer! However, in my dedicated project I set up to test against NUnit 2.6 or 3.2 (using Paket and FAKE to handle the messy details for me), I was still able to reproduce the failure in 2.6. Here are my results:

`big` = 100,000 -- :boom:
`big` = 10,000 -- :ok:
`big` = 50,000

[2016-07-20 06:58] ErikSchierboom commented on #155
Thanks a lot for testing. It seems to me we have four options:

1. Reduce the number of items in the "big" list to a smaller value that doesn't crash NUnit (10.000 or 25.000 or something like that).
2. Add a comment to each of the exercises that might fail suggesting what to do.
3. Add one comment at the top of the tests code explaning that some tests might fail and what to do.
4. Rewrite the asse

[2016-07-21 06:45] rmunn opened #164 "Idea for new exercise"
There are [already](http://exercism.io/exercises/fsharp/beer-song/readme) [three](http://exercism.io/exercises/fsharp/twelve-days/readme) [exercises](http://exercism.io/exercises/fsharp/house/readme) with the basic idea of "Here is some text with a repeating pattern; write a function to print out that text". So a fourth one may not be useful. However, if a fourth such exercise *would* be useful, t

[2016-07-21 06:55] ErikSchierboom commented on #164
There is indeed a repository that contains the complete list of exercises that can be implemented: https://github.com/exercism/x-common. I

There is some discussion in the Haskell track on merging similar exercises: https://github.com/exercism/xhaskell/issues/192#issuecomment-233520256. One of the outcomes of that discussion was that the different number conversion exercises (binary, trinary, octa

[2016-07-22 08:44] #161 closed

[2016-07-22 08:45] ErikSchierboom commented on #155
@jwood803 @kytrinyx What do you think about this issue?

[2016-07-22 13:51] jwood803 commented on #155
I wonder how much effort would there be to do 4...

[2016-07-22 16:41] #162 closed

[2016-07-22 16:42] ErikSchierboom commented on #155
Not much, I'll do this next week.

[2016-07-22 17:44] rmunn commented on #155
The one drawback to 4 is that if you get something wrong so the unit test fails, you don't get to see what index compared unequal and the values at that index, just that the expected and actual lists weren't equal. But that can easily be solved by a debugger, or by the "poor man's debugging" method of just sticking `printfn` statements all over. So I think that 4 is probably the best way to approa

[2016-07-23 17:57] kytrinyx commented on #155
I do like the idea of having something that doesn't crash.

[2016-07-25 11:41] #155 closed

[2016-07-25 11:42] ErikSchierboom opened #169 "Deprecate binary, trinary, octal and hexadecimal exercises in favor of all-your-base"
For discussion, see: https://github.com/exercism/xhaskell/issues/192#issuecomment-234731325 and https://github.com/exercism/x-common/issues/279

[2016-07-25 15:04] #169 closed

[2016-07-27 14:54] ErikSchierboom opened #173 "Multi-line string exercises"
There are quite some exercises in which the input consists of a string comprised of several lines (separated by a newline character). This virtually forces the user to always do a `Split()` call before coding the actual algorithm. We could prevent this by passing in the data as a list of lines. What do you think?

@rmunn @jwood803 @jovaneyck

[2016-07-28 01:08] rmunn commented on #173
Agreed. Another benefit of passing in a list of lines is that it avoids having to explicitly type the parameter. The following requires explicit typing in the declaration of `f`:

[code]

Whereas the following does not:

[code]

For the sake of type inference alone, I'd be in favor of making this change.

[2016-07-28 06:53] jovaneyck commented on #173
+1

I'd leave in at least one exercise explicitly dealing with this just for the sake of having some string manipulation exercise. Perhaps pig-latin or wordcount?

I can count the number of times I've had to process multi-line strings in real production work on one hand :smile:

[2016-07-28 13:18] #173 closed

[2016-07-28 13:19] ErikSchierboom commented on #173
I've just merged a PR that fixes this issue. As suggested, I also added a multi-line test to the `word-count` exercise.

[2016-07-29 14:09] choiaa commented on #133
@ErikSchierboom I do prefer the approach of tagging each exercise with a list of topics that need to be understood beforehand, and from there grouping the topics themselves by difficulty to determine the order of exercises. With difficulty being based on personal opinion there will be more room for subjectivity and the influence of each person's programming background.

I can start tagging each ex

[2016-07-29 17:24] ErikSchierboom commented on #133
Great idea! I'll try to work on my list of tags as well.

[2016-07-29 18:01] choiaa commented on #133
@ErikSchierboom  How about using the [fsharp language reference](https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/fsharp-language-reference)?

Also, I assume we will be using the example solutions in the xfsharp repo?

[2016-07-30 09:30] ErikSchierboom commented on #133
@choiaa The F# language reference is a very convenient help. I do think that we should also have a way of marking the difficulty of an exercise. One exercise that uses pattern-matching might be a lot more difficult than another.

The example solutions are just that: examples. There are probably far better solutions to many of the problem than what I came up with. I think we can use the examples as

[2016-07-30 09:40] ErikSchierboom opened #178 "Use Paket in build script"

[2016-07-30 09:41] ErikSchierboom opened #179 "Create fsproj file"

[2016-07-30 19:42] ErikSchierboom opened #180 "Normalize test file names"
At the moment, most test files end with "Test.fs", but not all. This should be fixed.

[2016-07-31 09:39] #178 closed

[2016-07-31 09:39] #179 closed

[2016-07-31 09:39] #180 closed

[2016-07-31 09:40] ErikSchierboom commented on #164
@rmunn I'll close this issue now, as the [x-common repository](https://github.com/exercism/x-common) is the right place.

[2016-07-31 09:40] #164 closed

[2016-08-01 09:01] choiaa commented on #133
@ErikSchierboom You're right, I did notice the difference in difficulty even for a single topic. Do you suggest adding a single `Difficulty` field to the `Exercise` record or adding three different fields as so?
[code]
Also, where in the repo do you recommend placing this sorting program? Maybe it can be turned into an exercise with a test suite of its own?

[2016-08-01 09:09] ErikSchierboom commented on #133
I think the first option (single field) is better, because even though one exercise might have three advanced topics and the other just one, the latter might still be more difficult.

As for where to put this code, maybe we should create a `tools` or `helpers` directory and then put the program in a sub-directory within that directory. We can then modify the build script to allow us to run the app

[2016-08-01 11:01] ErikSchierboom commented on #32
@kytrinyx Slight bump :) Have you had the opportunity to think about the above issue (how to include extra files when fetching exercises)?

[2016-08-01 11:19] ErikSchierboom commented on #133
These are all the header topics from the [F# language reference](https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/fsharp-language-reference) page:

- Functions
- Values
- Literals
- Type Inference
- Primitive Types
- Unit Type
- Strings
- Tuples
- Lists
- Options
- Sequences
- Arrays
- Generics
- Records
- Discriminated Unions
- Enumerations
- Reference Cells
- Type Abbreviations
- Cla

[2016-08-01 16:48] kytrinyx commented on #32
Oh, my. Not really. I am now in a new job and have finished 3 months of intense conference travel, so things are calming down a bit. We need this for several tracks, so I think it needs to go towards the top of the list (finally).

[2016-08-01 17:58] ErikSchierboom commented on #32
Hurray! 🎉

[2016-08-05 20:20] rebelwarrior commented on #32
Beyond the command line stuff (which is awesome) I've never been able to get a single test to successfully run on Xamarin Studio on a Mac.

[2016-08-06 17:45] ErikSchierboom commented on #32
@rebelwarrior Hmmm, that's odd. I'll see if I can find anything related to this.

[2016-08-06 17:48] rebelwarrior commented on #32
I'm sure I'm doing something wrong. But the instructions aren't super clear for Mac.

[2016-08-11 06:57] ErikSchierboom opened #191 "AppVeyor build status not automatically being shown"
Yesterday, I looked into the issue where PR's automatically showed the Travis status but not the AppVeyor status. I logged an issue about this on the AppVeyor site:

http://help.appveyor.com/discussions/problems/5147-appveyor-build-status-does-not-automatically-show-on-github-pr

Apparently, there is some permissions problem, but as I don't own the AppVeyor account, I cannot fix it. @kytrinyx Woul

[2016-08-11 16:18] kytrinyx commented on #191
Oh, I bet I know what's going on. When I started my new job I had to rotate all of my github oauth tokens. Looking now.

[2016-08-11 16:22] kytrinyx commented on #191
And now that I read that more carefully, I realize that I never did the AppVeyor integration in the first place. I think it should be working now—would you give that a try?

[2016-08-11 16:37] ErikSchierboom commented on #191
It works!

<img width="793" alt="screen shot 2016-08-11 at 18 36 21" src="https://cloud.githubusercontent.com/assets/135246/17596620/92e4feb8-5ff2-11e6-8ec0-96dfe0820183.png">

Thanks a lot.

[2016-08-11 16:37] #191 closed

[2016-08-12 17:32] Xehanort94 commented on #133
As a long-term solution you could implement a system where the user can rate a finished problem with easy/appropriate/hard and change the order of the problems based on that feedback. Codewars uses a similar system to grade their new Kata entries. Implementing a solution like this would introduce a couple of other problems tho, mainly how you rank the feedback of your users and how to make the sys

[2016-08-13 18:16] kytrinyx commented on #133
Yeah, I think it would help a lot to get feedback from people about difficulty.

[2016-08-13 18:18] kytrinyx commented on #133
No, very desirable, I think!

A couple of somewhat related discussions:

- https://github.com/exercism/discussions/issues/60
- https://github.com/exercism/exercism.io/issues/1081

There's been so much to do on Exercism for so long, but I think that the time is probably ripe for something like this now.

[2016-08-14 13:51] ErikSchierboom commented on #191
@kytrinyx I don't know how you fixed this on AppVeyor, but it seems to not be working for the xcsharp repository. Could you check again for the xcsharp repository?

[2016-08-14 15:56] kytrinyx commented on #191
I created an account (didn't have one) and added the xcsharp repository. I didn't do anything else. Looking now.

[2016-08-14 15:57] kytrinyx commented on #191
Hah. No, I didn't add the xcsharp repo, I added the xfsharp repo. Adding xcsharp now.

Any other ones I should add while I'm at it?

[2016-08-14 16:05] ErikSchierboom commented on #191
It's working! As for other repositories, I don't know. I only maintain the xcsharp and xfsharp repositories.

[2016-08-14 16:09] kytrinyx commented on #191
Excellent. I added it for VB.NET, even though that's currently unmaintained.

[2016-08-14 16:12] ErikSchierboom commented on #191
Good idea.

[2016-08-15 14:10] ErikSchierboom commented on #133
There has been quite some progress lately on this issue. See [this issue](https://github.com/exercism/discussions/issues/60#issuecomment-239630093) in particular. I think the next step for us will be to specify the topics for all exercises. After that, we can try to assign difficulties and then finally we can try to come up with a better order for the exercises.

Once the new format has been appro

[2016-08-16 07:23] ErikSchierboom commented on #133
RESERVED

[2016-08-16 07:23] ErikSchierboom commented on #133
RESERVED (exercises 1-10)

[2016-08-16 07:23] ErikSchierboom commented on #133
RESERVED (exercises 11-20)

[2016-08-16 07:23] ErikSchierboom commented on #133
RESERVED (exercises 21-30)

[2016-08-16 07:23] ErikSchierboom commented on #133
RESERVED (exercises 31-40)

[2016-08-16 07:23] ErikSchierboom commented on #133
RESERVED (exercises 41-50)

[2016-08-16 07:23] ErikSchierboom commented on #133
RESERVED (exercises 51-60)

[2016-08-16 07:23] ErikSchierboom commented on #133
RESERVED (exercises 61-70)

[2016-08-16 07:23] ErikSchierboom commented on #133
RESERVED (exercises 71-80)

[2016-08-16 07:23] ErikSchierboom commented on #133
RESERVED (exercises 81-90)

[2016-08-16 07:24] ErikSchierboom commented on #133
RESERVED (exercises 91-100)

[2016-08-16 07:24] ErikSchierboom commented on #133
RESERVED (exercises 100-102)

[2016-08-18 19:26] kytrinyx opened #197 "Update config.json to match new specification"
For the past three years, the ordering of exercises has been done based on gut feelings and wild guesses. As a result, the progression of the exercises has been somewhat haphazard.

In the past few months maintainers of several tracks have invested a great deal of time in analyzing what concepts various exercises require, and then reordering the tracks as a result of that analysis.

It would be us

[2016-08-19 12:54] #197 closed

[2016-08-19 12:55] ErikSchierboom commented on #133
This has been closed by [this PR](https://github.com/exercism/xfsharp/pull/198).

[2016-08-19 12:55] #133 closed

[2016-08-22 09:33] ErikSchierboom commented on #32
I've been thinking on how to improve the workflow of the F# track, and I am considering creating an `.fsproj` file for each exercise. This project would already include the test file and a reference to NUnit. In theory, people could then fetch an exercise, open the fsproj file in their favorite editor and (if the editor supports it) compile and test it. I think for most people, this would be a ver

[2016-08-22 20:16] rebelwarrior commented on #32
Sounds great to me. I think the ppl that are super familiar with VS will know what to do and ppl like me can rely on having the proper files downloaded.

Sent from my mobile.

[2016-08-24 00:29] jwood803 commented on #32
That would most likely be better for the users so they wouldn't have to go through the trouble of creating their own projects and would greatly simplify the documentation to get started with the track.

[2016-08-24 22:43] kytrinyx commented on #32
+100 for lowering the friction to getting started with the track.

[2016-08-30 12:53] ErikSchierboom opened #203 "Using FsUnit for more expressive tests"
At the moment, the exercises used NUnit's `Assert` class' methods to verify behavior. While this works, it's not really a nice functional API. Perhaps it would make sense to use [FsUnit](http://fsprojects.github.io/FsUnit/), which provides a functional wrapper around the tests.

As an example, this is how an assertion looks like today:

[code]

And this is how it would look with FsUnit:

[code]

I

[2016-08-30 16:53] robkeim commented on #203
+1
I think it would be a good opportunity to give people an opportunity to see more functional F# code as they're learning. I'm not familiar at all with FsUnit, so I don't know how "complete" it is in terms of the functionality that we're using from NUnit today.

Probably the easiest way to find out would be to take some sample tests and convert them. If you add it into a project I'd be more than

[2016-08-30 17:05] ErikSchierboom commented on #203
@robkeim Great! Really appreciate it. I'll see if I can get this setup tomorrow.

[2016-08-30 17:16] rmunn commented on #32
I think that introducing people to FAKE and Paket, via a simple `test.sh` script that "automagically" does everything for you (à la `build.sh` from ProjectScaffold), is a great idea. One of the biggest hurdles for me when I was first starting out was finding a decent `.fsproj` to copy, because I sure wasn't going to write one by hand -- and being on Linux, I don't have easy access to Visual Studio

[2016-08-30 17:19] rmunn commented on #203
Oh, definitely! And there are some tests, particularly the ones where you have to re-implement a basic data structure like linked lists, that could greatly benefit from showing off something like [FsCheck](https://fscheck.github.io/FsCheck/index.html) as well. Precisely *when* you'd want to teach people to use FsCheck (and Paket to install it) is a good question, but I think at some point when the

[2016-08-30 20:05] ErikSchierboom commented on #203
Good point about also introducing FsCheck, it is also ideally suited for the `diamond` exercise (in fact that's how I originally solved it). The only tricky thing is, as you said, determining when to introduce it.

[2016-08-30 20:07] ErikSchierboom commented on #32
Getting up to speed on FAKE and Paket was problematic for me when I started, so indeed the hope is that people will get to know it this way. Introducing FParsec later seems to be a great option, especially if we have people try to install it themselves.

[2016-08-31 08:36] ErikSchierboom commented on #203
@robkeim I think I'll wait with this until I have the new setup (with FAKE and such) working, which is depending on the CLI to be updated (see [this PR](https://github.com/exercism/x-api/pull/124)).

[2016-08-31 21:32] robkeim commented on #203
Ok sounds good!

[2016-09-01 14:44] jwood803 commented on #203
Apologies @ErikSchierboom, for some reason I'm not getting notifications.

I do love FsUnit and I'm all for it to express tests better. :)

[2016-09-03 11:44] petertseng opened #205 "react: "Callbacks should only be called once even if multiple dependencies have changed" test has expectation on wrong cell"
After thinking on https://github.com/exercism/xfsharp/pull/187#discussion_r77273853, I think that `c1` should be a `c4`; it's the only cell with multiple dependencies, and `c4` would match the go implementation.

so then you ask, why don't I just fix it myself!

The reason is I think the example solution would not pass that test, and I don't know enough to fix the example solution. So, sorry, I ca

[2016-09-03 12:26] ErikSchierboom commented on #205
Thanks for reporting the issue. I'll look at it soon

[2016-09-03 12:42] rmunn opened #206 "Tests for all-your-base look wrong"
I just got the new all-your-base exercise for the first time. And as I was looking through the unit tests to see the spec I'm implementing against, I noticed that an empty list `[]` is considered to be invalid input, rather than 0. That's a debatable issue (and I would disagree), but that's a place where opinion can validly differ -- if you have a string with no digits in it at all, it's fair enou

[2016-09-03 12:49] ErikSchierboom commented on #206
Good point. What do you propose to be the correct handling of zeroes and such?

[2016-09-03 12:53] rmunn commented on #206
How are you gentlemen !!

I set up you the PR.

[2016-09-03 12:56] rmunn commented on #206
Couldn't resist. :-) But seriously, what I did in the PR is what I'd suggest: empty lists are considered errors (I changed my mind a bit after thinking about it, and decided that it should be like parsing a string. No digits in the string? Then you don't get a number at all. No digits in the list? Likewise, no number.) For any other leading zeroes, though, it should parse just like a string should

[2016-09-04 07:46] ErikSchierboom opened #208 "Fix potentially incorrect protein translation test"
http://exercism.io/submissions/da14804ca26249acba370311403e80fc

[2016-09-04 07:46] ErikSchierboom opened #209 "Fix Travis not running the ignore tests"

[2016-09-04 10:58] ErikSchierboom commented on #206
Seems like very sensible fixes. I've commented on your [PR](https://github.com/exercism/xfsharp/pull/207).

[2016-09-04 16:17] #206 closed

[2016-09-05 06:00] ErikSchierboom opened #210 "Use array for binary search exercise"

[2016-09-05 06:24] ErikSchierboom commented on #210
Fixed in https://github.com/exercism/xfsharp/pull/211

[2016-09-05 06:24] #210 closed

[2016-09-05 06:49] #208 closed

[2016-09-05 06:56] ErikSchierboom commented on #205
@petertseng I can confirm that you have indeed found a bug, it should be `c4` instead of `c1` in the test you mentioned. I'll work at fixing the example solution.

[2016-09-06 15:03] ErikSchierboom commented on #205
Fixed with this [PR](https://github.com/exercism/xfsharp/pull/213).

[2016-09-06 15:03] #205 closed

[2016-09-12 06:02] ErikSchierboom opened #216 "Update grep exercise"
The canonical data has been updated: https://github.com/exercism/x-common/pull/369/files

[2016-09-13 17:02] rmunn opened #217 "Tests for transpose exercise need updating"
In https://github.com/exercism/x-common/commit/778a54887ef8bdf582a6eb0adf0bf8ddb6c73dd5, the transpose test was updated to remove two trailing spaces in the final line of the expected output, so that the test would conform to what the README says (pad to the left with spaces, but don't pad to the right). But the test for F# still has the two extra, erroneous trailing spaces.

There are also a few

[2016-09-13 19:27] ErikSchierboom commented on #217
Good find. We'll indeed need to update the exercise.

[2016-09-16 16:00] #217 closed

[2016-09-16 16:01] ErikSchierboom commented on #217
@rmunn Fixed with this [PR](https://github.com/exercism/xfsharp/pull/219). Thanks for reporting!

p.s. I spent way too much time getting the example implementation ready. Silly me.

[2016-09-16 16:10] #216 closed

[2016-09-17 12:42] robkeim opened #221 "Linked list exercise naming"
Is there a reason that the Linked list exercise module is named Deque and the test file DequeTest? I'm wondering if the name of the exercise was changed at some point because roughly have of the languages that implemented this problem use the name Deque and the other half with Linked list.

[2016-09-17 21:31] ErikSchierboom commented on #221
No good reason I think. Probably only named that way due to another track using the same name. Feel free to send a PR to correct this, although you may have to verify none of the other exercises using linked lists use the same name.

[2016-09-17 23:02] robkeim commented on #221
Alright I think we should be good to go then as the only other exercises referencing lists are:
- `Simple Linked List`
- `List Ops`
- `Sub List`

Related [PR request](https://github.com/exercism/xfsharp/pull/222)

[2016-09-18 09:10] ErikSchierboom commented on #221
Merged! Thanks. :tada:

[2016-09-18 09:57] #221 closed

[2016-10-08 19:01] hsavit1 opened #226 "Can NUnit tests be run with vscode?"
On OSX - can I run the NUnit tests w/o Xamarin?  Would the ionide plugin for VSCode be enough?

[2016-10-09 17:30] ErikSchierboom commented on #226
At this moment, no, as VSCode doesn't support test runners as far as I know. The Ionide plugin does support running FAKE scripts, which can also be used to run tests. Once [this feature](https://github.com/exercism/cli/issues/88) is implemented in the CLI, we will be working on shipping a FAKE script alongside each exercise to run the tests.

[2016-10-09 17:41] hsavit1 commented on #226
@ErikSchierboom - Thanks for getting back to me

Are there any recommended docs for running these FAKE scripts? And if there are, perhaps they should be added to the "Running the tests" section for F#.

My laptop has very little space and I'd rather not download Xamarin if i don't have to!

[2016-10-09 18:08] ErikSchierboom commented on #226
@hsavit1 As of today, no there are not. Once the abovementioned feature has been implemented, I'll add the FAKE scripts and update the documentation. However, this repository does use FAKE to build and test the files. For example. check out [build.fsx](https://github.com/exercism/xfsharp/blob/master/build.fsx).

[2016-10-09 18:12] ErikSchierboom commented on #226
By the way, the FAKE documentation is also quite nice. You could try to follow their [getting started tutorial](http://fsharp.github.io/FAKE/gettingstarted.html).

[2016-10-16 13:05] IanWhitney opened #227 "Changes to Bowling tests"
We recently rewrote the test suite for Bowling. Since this track implements Bowling, please [take a look at the new canonical_data.json file](https://github.com/exercism/x-common/blob/9049dc7f748fd038b140c878c4eaa89d09b73199/exercises/bowling/canonical-data.json) and see if your track should update its implementation or tests.

The new test suite reorders tests so that students can get to green qu

[2016-10-23 14:51] #227 closed

[2016-10-26 07:56] ErikSchierboom commented on #226
I'll close this issue, as it is really as VS Code feature (which I would love to see!). Hopefully, we can make things simpler in the future.

[2016-10-26 07:56] #226 closed

[2016-10-26 08:01] ErikSchierboom opened #229 "Use default file"
Some tracks lessen the barrier for users by providing an empty implementation file, which prevents the user from having to create the file themselves. An example of such a track is the Elm track, but the Scala track is also [discussing this](https://github.com/exercism/xscala/issues/137). How do you all feel about this? I think it would indeed lower the barrier, especially if we will also be provi

[2016-10-26 13:41] jwood803 commented on #229
Would it be just an empty set of `.fsproj` files for each exercise?

[2016-10-26 14:26] ErikSchierboom commented on #229
Well, I imagine the `.fsproj` file would reference two files:

1. The stub implementation file.
2. The test file.

In my mind, the implementation file is empty, except for a module definition.

The `.fsproj` file should also be referencing NUnit, or any other library the exercise assumes the user to user (for example FsCheck for property-based tests or FParsec for parsing data).

To give users the

[2016-10-26 16:23] jason-kerney commented on #229
I would love this. I have been using these at supplements to teaching programming. I have a few friends who I am introducing to programming using F#and they are unable to remember how to run the tests for a loooooong time.

[2016-11-18 00:59] mattcbaker opened #230 "Sum of Multiples - Add an intermediary test case"
While doing the `Sum of Multiples` exercise, I ended up adding one more test case in order to solve the problem incrementally. That test case is below, what do you think about adding it to the test cases file for this problem?

[code]

[2016-11-18 07:15] ErikSchierboom commented on #230
Great idea. Actually, it turns out that the updated [canonical data file](https://github.com/exercism/x-common/blob/master/exercises/sum-of-multiples/canonical-data.json) for this exercise also includes it.

[2016-11-18 07:49] ErikSchierboom commented on #230
@mattcbaker If you're interested, you can also do this yourself! The tests of the `sum-of-multiples` exercises can be found at [exercises/sum-of-multiples/SumOfMultiplesTest.fs](https://github.com/exercism/xfsharp/blob/master/exercises/sum-of-multiples/SumOfMultiplesTest.fs). That file should contains tests for each entry in the [canonical data](https://github.com/exercism/x-common/blob/master/exe

[2016-11-18 18:03] mattcbaker commented on #230
@ErikSchierboom I pulled and attempted to push a PR, but I was not able to. Do I need any sort of access, or should I just try again?

[2016-11-18 18:09] mattcbaker commented on #230
PR created https://github.com/exercism/xfsharp/pull/231

[2016-11-18 18:37] mattcbaker commented on #203
I'd love to help convert tests once this is ready to begin.

[2016-11-19 16:04] ErikSchierboom commented on #230
The PR looks fine. It has just been merged! Thanks a lot.

[2016-11-19 16:04] ErikSchierboom commented on #203
I'll hold you to that promise :)

[2016-11-20 15:15] kytrinyx opened #232 "Investigate track health and status of the track"
I've used Sarah Sharp's [FOSS Heartbeat](https://github.com/sarahsharp/foss-heartbeat) project to generate stats for each of the language track repositories, as well as the x-common repository.

The Exercism heartbeat data is published here: https://exercism.github.io/heartbeat/

When looking at the data, please disregard any activity from me (`kytrinyx`), as I would like to get the language track

[2016-11-21 14:55] jwood803 commented on #232
@ErikSchierboom has mainly been keeping this track maintained. I've been just lurking in the shadows as of late, but still here as part of discussions.

[2016-11-21 16:35] kytrinyx commented on #232
@jwood803 @ErikSchierboom I think this would go under "Endangered", even though there are two of you.

[2016-11-21 19:06] #230 closed

[2016-11-21 19:08] ErikSchierboom commented on #232
I've posted my thoughts in the discussions issue. Does that mean this issue can be closed?

[2016-11-22 18:50] #232 closed

[2016-12-08 16:06] ErikSchierboom opened #234 "Add hints to some exercises"
@abo64 added [this issue](https://github.com/exercism/xscala/issues/220) to the Scala track, which I thought was a brilliant plan. I'm just gonna literally copy-and-paste that issue's text:

To give people some guidance and avoid writing repetitive or similar code comments again and again
we should add a HINTS.md file to any exercise where it makes sense.

Another case is exercises dealing with sp

[2016-12-09 06:41] ErikSchierboom opened #237 "Fix AppVeyor build failing"
AppVeyor build are failing with the following message:

<pre>
System.Exception: Start of process C:\Tools\NUnit3\bin\nunit3-console.exe failed. The system cannot find the file specified
   at Fake.ProcessHelper.ExecProcessWithLambdas@79-16.Invoke(String message) in
</pre>

Apparently, the tooling path has changed, so [this line](https://ci.appveyor.com/project/kytrinyx/xfsharp/build/1.0.62) refere

[2016-12-09 16:52] #237 closed

[2016-12-09 17:27] ErikSchierboom commented on #234
The following exercises could probably use some hints:

- [ ] `helloworld`: give hints on [pattern matching](https://fsharpforfunandprofit.com/posts/match-expression/) and [sprintf](https://fsharpforfunandprofit.com/posts/printf/)
- [ ] `difference-of-squares` give hint on `Seq.sumBy`
- [ ] `sum-of-multiples`: give hint on using ranges
- [ ] `space-age`: give hint that code duplication should be a

[2016-12-10 10:18] #209 closed

[2016-12-10 15:43] theprash opened #240 "Linked List exercise tests imply an immutable list"
I think the tests imply that the doubly linked list is expected to be an immutable data structure because:

* All functions return a new version of the list.
* The tests do not check for mutation of the list passed in.
* Most importantly, `mkLinkedList` is a plain value, not a function, so the empty list at least must be immutable to avoid individual tests affecting each other.

Although immutabil

[2016-12-10 19:43] ErikSchierboom commented on #240
Well, we had this discussion a while ago. Back then, we decided that we would try to make as many exercises use immutable data as possible, which is after all the FP way. However, I can see what you're getting at. The test do look quite strange. What do you feel @robkeim and @jwood803?

[2016-12-10 21:32] theprash commented on #240
I can see the reason for preferring immutability, but there is a time and place for mutation. Currently, this exercise seems like a confusing mix of both, with a description that's gone out of sync with the tests. Almost all of the submitted answers use mutation and even example answer does!

I can see how the tests are almost set up in a way that would allow you to use either approach. That could

[2016-12-11 17:52] ErikSchierboom commented on #240
I can totally see what you're getting at. I would just like to get the opinion of someone else. @rmunn @robkeim @jwood803 ?

[2016-12-11 22:21] robkeim commented on #240
I'm definitely for keeping immutability as it's the FP where it makes sense, however, I definitely see the point @theprash is making and this case looks a bit "forced."

I tried to be very dogmatic throughout my own implementation of these exercises only using immutable data, but I caved for this one. A doubly-linked list isn't naturally a FP structure and I'm sure the creation of this exercise wa

[2016-12-11 22:49] robkeim commented on #234
Great idea @abo64 and thanks @ErikSchierboom for bringing this to the F# track as well. I've gone ahead and sent a first exercise [here](https://github.com/exercism/xfsharp/pull/241) and if it looks good I'll try to take care of some of the others as well.

[2016-12-12 06:03] rmunn commented on #240
The README asks you to implement a doubly-linked list, but in actual *fact* what they're asking you to implement is a [deque](https://en.wikipedia.org/wiki/Double-ended_queue). Which is usually implemented with a doubly-linked list in imperative languages, but there's a perfectly good way to implement a deque without mutation. See [my second iteration of this exercise](http://exercism.io/submissio

[2016-12-12 06:59] ErikSchierboom commented on #240
As far as I know, it is not possible to override the default README, but what we can do is add #234. Maybe we should include an extra hint stating that you just need to implement a deque?

[2016-12-12 07:03] ErikSchierboom opened #242 "Make leap the second exercise"
At the moment, `bob` is the second exercise and `leap` is the third. My proposal is to switch the order of these two exercises, as `leap` is much easier to solve and doesn't actually introduce anything new except for the modulo operator.

[2016-12-12 07:21] ErikSchierboom commented on #234
@robkeim I've updated the list with more suggested hints.

[2016-12-12 10:30] robkeim commented on #234
Thanks @ErikSchierboom you're making fixing this too easy by going as far as to include links :) I sent a PR with a few additional ones, and I'll try to get some more done soon.

[2016-12-12 10:56] robkeim commented on #240
@rmunn while your second iteration is very clean I'm not sure it complies with the [README](http://exercism.io/exercises/fsharp/linked-list/readme) which states:

IMO, this exercise was intended to avoid using higher level constructs of the language such as lists and the cons operator, and dig in under the hood and manage nodes and "pointers" to give you a deeper understanding of how a double link

[2016-12-12 11:17] rmunn commented on #240
That's why it was my second iteration. [My first iteration](http://exercism.io/submissions/ddfab171c2e243cf9f696763759462ef) complied with what the README wanted in every detail. Then I wrote the second iteration to demonstrate the way it *should* have been implemented -- except for the mutability that I couldn't get away from because (at the time) the unit tests demanded it.

[2016-12-12 11:28] theprash commented on #240
I vote against having a README that contradicts the tests and/or hints. There are already other examples of this and it's just confusing!

So far it seems like the sensible options are:

1. Embrace mutation for this exercise.
2. Remove this exercise from the F# track and maybe create a new one for a deque.

@rmunn

That seems like your interpretation based on your past experience. I had never hear

[2016-12-12 11:42] ErikSchierboom commented on #234
Fantastic!

[2016-12-12 12:04] robkeim commented on #242
That sounds good to me @ErikSchierboom although I've always been surprised there isn't more cross track consistency for exercise order. I've gone ahead and sent a PR.

[2016-12-12 12:18] ErikSchierboom commented on #242
Great!

[2016-12-12 12:18] #242 closed

[2016-12-12 12:49] ErikSchierboom commented on #240
Perhaps then this is good exercise to allow people to test their F# mutability skills?

[2016-12-12 21:05] robkeim commented on #234
I added hints for the rest of the ones where I understood what you were thinking @ErikSchierboom. Here are the remaining ones (they're also unchecked above):
- Alphametics -> I haven't done this one yet myself
- Beer song -> I couldn't come up with anything that didn't seem so obvious it was patronizing :)
- Grade school -> I didn't use a map to solve this one personally, so didn't know what to sa

[2016-12-12 21:09] robkeim commented on #240
+1 for embracing mutation on **this** exercise

[2016-12-13 07:25] ErikSchierboom commented on #240
Okay, then let's modify this exercise to use mutation. We should definitely add a hints file explaining that mutation is not something you usually want to use when doing F#, but that it does has its place.

[2016-12-13 07:28] ErikSchierboom commented on #234
Fantastic! I'll do the remaining hints later this week. I just have to finish the last 10 problems of the EcmaScript track first :)

Once again, thanks for the great work!

[2016-12-13 11:23] robkeim commented on #234
You're welcome, thanks for putting together the list.

Looking forward to being able to use your hints for the two problems I haven't solved on your list if I get stuck ;)

[2016-12-13 18:26] ErikSchierboom commented on #234
One them must be `alphametics`. That one I struggle quite a bit with, so good luck :)

[2016-12-13 21:43] theprash commented on #240
I should be able to submit a PR tomorrow.

[2016-12-13 22:08] robkeim commented on #234
Haha thanks :)

[2016-12-15 18:03] ErikSchierboom commented on #240
Closed with #248.

[2016-12-15 18:03] #240 closed

[2016-12-16 13:00] cowlike opened #250 "Tree Building exercise in F# has nonsense readme"
From the readme:

between 0 (inclusive) and the length of the record list (exclusive). No record
has a parent ID lower than its own ID and no record, except the root record,
has a parent ID that's equal to its own ID.

These sentences are both false and violated in the tests. Maybe the design changed and someone forgot to update the readme? Currently the root node has a parent id of -1.

The root

[2016-12-16 13:22] ErikSchierboom commented on #250
Would you be interested in creating a PR to fix this?

[2016-12-16 14:00] robkeim commented on #250
@ErikSchierboom for clarification is the issue:

1. The F# implementation is not compliant with the spec
2. The spec is not correct in x-common here:
https://github.com/exercism/x-common/blob/9a0cc1b96f2f9c8f7614f1337d8f58bd05a939b9/exercises/tree-building/description.md

[2016-12-16 14:18] cowlike commented on #250
I can do that later today.

On Dec 16, 2016 7:22 AM, "Erik Schierboom" <notifications@github.com> wrote:

Would you be interested in creating a PR to fix this?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/exercism/xfsharp/issues/250#issuecomment-267592874>,
or mute
the thread
<https://github.com/notifications/unsubsc

[2016-12-16 14:22] ErikSchierboom commented on #250
@robkeim It's number 1: the F# implementation is not correct.

@cowlike Perfect! For this exercise, you actually have to edit two files:

1. [Example.fs](https://github.com/exercism/xfsharp/blob/master/exercises/tree-building/Example.fs): the default "good" implementation.
2. [TreeBuilding.fs](https://github.com/exercism/xfsharp/blob/master/exercises/tree-building/TreeBuilding.fs): the starting "b

[2016-12-16 14:44] cowlike commented on #250
Wait what?! The spec makes no sense to me unless the root node has the
highest ID, which is just bizarre. IMO, the root should be have ID 0 and
build up from there, meaning the parent ID is always lower.

Doing it the other way is confusing. It would make more sense to just fix
the spec to match the supposedly working version.

On Dec 16, 2016 8:22 AM, "Erik Schierboom" <notifications@github.com>

[2016-12-16 15:00] robkeim commented on #250
@cowlike - The way that I read the spec is the way that you described it here:

build up from there, meaning the parent ID is always lower.

Maybe the fact that there is a negative in the spec makes it confusing to understand?

This implies that "all records have an ID larger than their parents"

It doesn't call out explicitly that the root node has to be zero it can be implied from the first part

[2016-12-16 15:07] robkeim commented on #250
@cowlike Is this more clear? This is what I understood from reading the above spec

- The ID number is always between 0 (inclusive) and the length of the record list (exclusive)
- The root ID has the value 0 and is the only record to have a parent ID equal to its own ID
- All other records have a parent ID lower than their own ID

[2016-12-16 15:28] cowlike commented on #250
No record has a parent ID lower than its own ID

This implies that "all records have an ID larger than their parents"

=========

I think you need to recheck your logic. This is the nonsense part. It
actually implies that every parent ID is >= the record ID.

On Dec 16, 2016 9:00 AM, "Rob Keim" <notifications@github.com> wrote:

@cowlike <https://github.com/cowlike> - The way that I read the spec

[2016-12-16 15:41] cowlike commented on #250
This formulation is fine except that allowing the -1 to stay for the root
parent means you only need to fix the broken spec, which had other errors
as well (see last email)

On Dec 16, 2016 9:07 AM, "Rob Keim" <notifications@github.com> wrote:

[2016-12-16 18:28] kytrinyx opened #251 "Verify contents and format of track documentation"
Each language track has documentation in the `docs/` directory, which gets included on the site
on each track-specific set of pages under [/languages](http://exercism.io/languages).

We've added some general guidelines about how we'd like the track to be documented in exercism/exercism.io#3315
which can be found at https://github.com/exercism/exercism.io/blob/master/docs/writing-track-documentatio

[2016-12-17 08:52] ErikSchierboom commented on #250
@cowlike I've create a [PR](https://github.com/exercism/x-common/pull/472) to reword the exercise's description and added a sample tree. The exercise explicitly says that the root node's parent is equal to its own ID, which is of course there to make the refactoring slightly more difficult. We should thus modify our tests and example implementations.

[2016-12-17 09:44] robkeim commented on #250
Thanks @ErikSchierboom I just left one small comment on the PR, but other than that it's definitely much more explicit with the sample!

[2016-12-17 15:10] cowlike commented on #250
Thanks @ErikSchierboom. At first I thought this was just a matter of clearing up the readme, since the existing code and tests works as is. However, it has turned into a far bigger problem of rewriting everything about it: readme, tests, implementation, example.

The rewrite of the numbering part is now logically coherent. The readme also said the existing code is working (and it is, by definition

[2016-12-17 15:18] cowlike commented on #250
One more point: if this exercise is more intended to be something like "_this code is horrible, the design sucks and the poorly designed tests measure concrete implementation details instead of the desired abstract properties, so rewrite it from scratch_" then it should probably say that more clearly as well.

[2016-12-17 15:45] ErikSchierboom commented on #250
The main reason why I chose a rewrite is to not force the other language track implementing this exercise (Go) to also change their implementations. As I see, it was just an error on my part where I did not correctly implement the exercise. Changing the readme to fix our implementation and thereby breaking some else's seemed to me the wrong way to go.

Also, I think the current requirement is a li

[2016-12-17 16:03] cowlike commented on #250
Ok, I see now. Perhaps the exercise should be pulled from the FSharp section until it is fixed. As it is now, it is completely wrong since the tests don't match the spec and therefore this is not a refactoring, by definition. So what you're asking for is new tests against the corrected spec, a good implementation of the code, and some horrible (but correct) implementation amenable to refactoring.

[2016-12-17 16:10] ErikSchierboom commented on #250
That is indeed what I'm suggesting. I can try to fix this within the next couple of days.

[2016-12-17 17:31] cowlike commented on #250
I think the tests should verify the properties of the abstraction and not the implementation details such as the children of a branch being in a list. Perhaps export three functions:

1.  isBranch : 'a Tree -> bool
2. isLeaf : 'a Tree -> bool
3. children : 'a Tree -> 'a Tree list

Then testing the length of the children list or something. I'm thinking of something like this (which I believe I'll w

[2016-12-17 17:51] ErikSchierboom commented on #250
@cowlike That sounds like a good idea. We should probably better map the properties to tests and not test the implementation. For now, I've created a [PR](#252) to fix the current issue, so at least the exercise is in sync with the problem description.

[2016-12-19 09:44] ErikSchierboom commented on #251
I've created a short checklist of things to check:

- [ ] INSTALLATION.md - how to install the language and any dependencies
- [ ] TESTS.md - how to run the tests
- [ ] ABOUT.md - short, enticing introduction to the language
- [ ] LEARNING.md - where to get an introduction to the language if you're learning it for the first time
- [ ] RESOURCES.md - references, tools, etc.
- [ ] Put images in `doc

[2016-12-19 18:23] ErikSchierboom opened #260 "Add test for concurrency safety in bank-account exercise"
The description of the [bank-account](https://github.com/exercism/x-common/blob/master/exercises/bank-account/description.md) exercise states that:

The [current test suite](https://github.com/exercism/xfsharp/blob/master/exercises/bank-account/BankAccountTest.fs) does not have any concurrency-related tests. These should be added.

[2016-12-20 07:59] ErikSchierboom commented on #260
The only thing I'm not sure about: how do we create such a concurrency test? The test assumes the object is immutable, so should we do lots of operations on different threads and just check if the original instance is unchanged?

[2016-12-20 12:12] robkeim commented on #260
If the methods are creating immutable objects do you really have potential concurrency issues that we should be testing? Unless someone's implementation uses some mutable, shared state somewhere I don't see what potential concurrency issues you can have.

That being said, your approach is the best I can think of because we don't have an interfaces into the class that we can control (to do things l

[2016-12-20 14:43] ErikSchierboom commented on #260
Well, the tests don't force you to use immutable data structures, although they do hint towards that solution. That gives you all sorts of benefits, including concurrency safety. I don't think we test more than what I suggested, so let's add that (better than nothing).

[2016-12-20 14:51] robkeim commented on #260
That sounds reasonable!

[2016-12-20 17:30] ErikSchierboom commented on #260
Well, now that I think about it, that's not *really* what the description implies, is it? It says:

The current implementation allows it to be accessed from different threads, but as there is no state, the account is not actually modified. I think this is not what the description tries to tell.

I think we have two options:

1. Don't use immutability and add the concurrency test in which the accou

[2016-12-20 18:08] robkeim commented on #260
My guess was this exercise was designed for non-functional programming languages which rely more heavily on mutable state. I think it depends what we what to emphasize in this exercise which correspond to the two options you called out above @ErikSchierboom:

1. Show the power of immutability in terms of not needing to worry about threading/concurrency issues
2. Simulate "real world" systems where

[2016-12-20 19:05] jwood803 commented on #260
That makes sense @robkeim. Though, I wonder if we should so one of the advantages of functional programming and immutability with this exercise. Definitely not for someone starting out, even for me, so is there somewhere we can make a note of that? Maybe in the hint file?

[2016-12-21 07:24] ErikSchierboom commented on #260
If we do make it handle concurrency (which is indeed something that is hardly touched upon), we should increase the difficulty and move it further down the track.

[2016-12-21 10:33] cowlike commented on #250
It's not at all what was requested but I wrote a [solution that implements rose trees](http://exercism.io/submissions/d7239280bb0b430296894d602cd5e1f2), or at least that was my intention! I decided to use Option rather than exceptions as well and I think they are under-utilized from what I'm seeing so far. I have no idea if this is what you were thinking or not but I wanted to have some fun with i

[2016-12-21 10:42] ErikSchierboom commented on #250
Thanks for posting it! I'll definitely have a look at it. I really like your suggestion to define the tests such that the user is free to implement the tree however he/she wants.

[2016-12-21 21:11] robkeim commented on #260
I wanted to see what other tracks were doing for comparison so here's the list of tracks that have implemented the exercise.

The tracks also rely on some sort of lock/mutex/etc:
- [C#](https://github.com/exercism/xcsharp/blob/master/exercises/bank-account/Example.cs)
- [Clojure](https://github.com/exercism/xclojure/blob/master/exercises/bank-account/src/example.clj)
- [Haskell](https://github.com

[2016-12-23 05:33] masters3d opened #265 "Why is flatten-array forgone in this track?"
reference:
https://github.com/exercism/xswift/pull/228

[2016-12-23 09:38] ErikSchierboom commented on #265
The reason for this is simple: the type system was working against me. I cannot create a list with different levels of nesting. Perhaps I could do it with a sequence, but I'd have to check.

[2016-12-23 11:02] theprash commented on #265
The exercise described in the readme does not make sense for a statically typed language, hence the discussion around including it in the Swift track. I think it should not be included for F#.

In F# you would do the equivalent with a tree data structure where each node has a list of child nodes, but that would definitely be a different exercise with a different readme.

[2016-12-23 12:56] ErikSchierboom commented on #265
@robkeim What do think?

[2016-12-23 22:34] robkeim commented on #265
@ErikSchierboom what did you try in terms of creating a list with multiple levels of nesting? If we want to have a multi-level list could we do something like this:
[code]
I got this code from [here](https://rosettacode.org/wiki/Flatten_a_list#F.23) where the same exercise is implemented in many different languages.

[2016-12-23 22:53] masters3d commented on #265
Thank you. Got the answer I needed. :)

[2016-12-23 22:53] #265 closed

[2016-12-24 08:14] ErikSchierboom commented on #265
Great!

@robkeim I think to implement the solution as you mentioned would not really give us anything, as you already have to do flattening as part of one of the tree exercises. To me this, this exercise is more about dealing with the built-in collections and flattening them, which does not make sense in F#.

[2016-12-24 08:18] ErikSchierboom commented on #260
Well, even the Haskell track uses mutation (through the IO monad of course), so maybe we should also have it use mutation.

[2016-12-24 14:52] ErikSchierboom commented on #260
I've just submitted a PR that modifies the `bank-account` exercise to use concurrency.

[2016-12-24 15:36] robkeim commented on #265
That makes sense to me @ErikSchierboom.

[2016-12-24 17:52] ErikSchierboom commented on #251
@robkeim What do you think about our [`ABOUT.md`](https://github.com/exercism/xfsharp/blob/master/docs/ABOUT.md) file? It should be a "short, enticing introduction to the language". I think it's good, but maybe you have suggestions?

[2016-12-24 17:52] ErikSchierboom commented on #251
Note to self: I should add PluralSight to RESOURCES.md and add a beginner F# PluralSight course to LEARNING.md.

[2016-12-24 20:57] robkeim commented on #251
How do you feel about including a link to this MSDN F# elevator pitch?
https://blogs.msdn.microsoft.com/chrsmith/2008/11/01/f-elevator-pitch/

It arguably doesn't meet the "short" requirement for the introduction which is why I'm suggesting linking to it for people that aren't convinced with the one sentence description that we already have there.

[2016-12-25 09:27] ErikSchierboom commented on #251
I really like the pitch, but I do think the introduction should just be text. Perhaps we could extract some of the more relevant parts of the pitch and condense them in one or two sentences? The parts I like best are:

And

[2016-12-25 10:04] ErikSchierboom commented on #251
@kytrinyx Updating the TESTS.md and INSTALLATION.md is something I'd like to keep open for a while, as we expect to do a rather massive overhoal once F# runs on the updated .NET Core 2.0. That will be sometime in the first quarter of 2017 probably.

[2016-12-25 10:07] ErikSchierboom commented on #251
@robkeim Some languages usually somewhat longer text in their ABOUT.md file, e.g. [rust](https://github.com/exercism/xrust/blob/master/docs/ABOUT.md), [ruby](https://github.com/exercism/xruby/blob/master/docs/ABOUT.md) and [go](https://github.com/exercism/xgo/blob/master/docs/ABOUT.md). I think we can also do that then.

Perhaps we can borrow some content from http://fsharpforfunandprofit.com/why-

[2016-12-28 07:17] ErikSchierboom commented on #260
With #266 merged, this issue can be closed.

[2016-12-28 07:17] #260 closed

[2016-12-29 18:26] robkeim commented on #251
@ErikSchierboom that sounds good to me!

[2016-12-30 19:35] bugra opened #272 "One of the test in terms of ordering tests in KinderGarden exercise is wrong"
I believe in KinderGarden exercise, one of the tests order is wrong, I attach the patch file for fixing this test as I do not have permission to create PR.

Bugra

[0001-Fix-the-order-of-kindergarden-test.txt](https://github.com/exercism/xfsharp/files/679129/0001-Fix-the-order-of-kindergarden-test.txt)

[2016-12-31 03:24] robkeim commented on #272
@bugra thanks for taking the time to open an issue! In terms of being able to create a PR, can you explain what you mean when you say you "do not have permission"? Everyone should be able to create PRs, the only access that is restricted is who can merge them.

In this particular exercise I believe the order that is given is correct based on the [readme](http://exercism.io/exercises/fsharp/kinderg

[2016-12-31 03:47] bugra commented on #272
@robkeim Thanks for the explanation, I did not see the alphabetical order piece in the `README.md`.

[2016-12-31 03:47] #272 closed

[2016-12-31 15:09] robkeim commented on #272
Sounds good!

[2017-01-02 16:48] kytrinyx commented on #251
That sounds like a plan.

As long as we're not plagiarizing, that sounds excellent :-)

[2017-01-03 19:37] ErikSchierboom commented on #234
All hints have been added. This issue can be closed. If we do think of more hints, we can just add them individually.

[2017-01-03 19:37] #234 closed

[2017-01-03 19:43] robkeim commented on #234
Great, thanks for driving this effort @ErikSchierboom!

[2017-01-11 02:12] IanWhitney opened #274 "Changes to Luhn tests"
We recently rewrote the test suite for the Luhn exercise. Since this track implements Luhn, please [take a look at the new canonical_data.json file](https://github.com/exercism/x-common/blob/master/exercises/luhn/canonical-data.json) and see if your track should update its implementation or tests.

Details on the test changes and the motivation can be found in [the PR](https://github.com/exercism/

[2017-01-11 05:32] robkeim commented on #274
Thanks @IanWhitney, I've gone ahead and sent a PR with this update.

[2017-01-11 18:06] robkeim commented on #274
This has been updated in the attached issue.

[2017-01-11 18:06] #274 closed

[2017-01-11 18:20] balazsbotond opened #276 "Binary Search Tree - value should return an option"
[Discussion on Exercism](http://exercism.io/submissions/6e65f3cec5144a9b98180492c11c4e60)

I think it would be nicer if `value` returned an `option` because the empty node has no value. The unit tests currently don't allow this.

[2017-01-12 10:20] ErikSchierboom opened #277 "Run build and tests on Mac OS"
To verify that the code also works on Mac OS, we should modify the Travis build to also run on Mac OS.

[2017-01-13 07:31] ErikSchierboom commented on #250
@cowlike With #280 merged, we now have an implementation-agnostic test.

[2017-01-13 13:41] cowlike commented on #250
That's really nice work, Erik!

[2017-01-13 13:41] #250 closed

[2017-01-15 18:36] Tedford opened #282 "Triangle - Test case Triangles violating triangle inequality are illegal 2 is incorrect"
The test case asserts that a triangle with sides 2 2 4 violates the Triangle inequality theorem; however, it is a valid Isosceles triangle.

[2017-01-16 11:12] robkeim commented on #282
Closing this issue now, thanks @ErikSchierboom for taking care of this so quickly!

[2017-01-16 11:12] #282 closed

[2017-01-17 07:22] ErikSchierboom commented on #276
@balazsbotond With #278 merged, this issue has been resolved. Thanks for reporting it!

[2017-01-17 07:22] #276 closed

[2017-01-21 20:45] balazsbotond opened #286 "Linked List: how to handle the empty list in pop and shift?"
There is currently no unit test checking what `pop` and `shift` do when the list is empty. I wonder if returning an `option` would be a better way to handle this case instead of returning the value if present or throwing an exception. Though `Map` has separate `find` and `tryFind` methods so I'm not sure if this is idiomatic.

I think adding tests for the empty case would be a good idea in any cas

[2017-01-22 10:31] ErikSchierboom commented on #286
I agree that testing the empty case would be a good idea. Returning an option value is also more idiomatic, so it would be great if you could also change that to

[2017-01-22 10:34] balazsbotond commented on #286
Cool, thanks! I'll send those changes later today.

[2017-01-23 11:31] robkeim commented on #286
Sorry I read the PR before seeing there was a related issue that I should have commented on...

Copying my comment here:

I agree this is more idiomatic, but from the [description.md](https://github.com/exercism/x-common/blob/master/exercises/linked-list/description.md) it says:

Shouldn't we stay aligned with what's in x-common?

[2017-01-23 12:54] balazsbotond commented on #286
Sorry, I haven't read the README carefully enough. I agree with @robkeim, I think my pull request should be reverted.

[2017-01-23 21:11] ErikSchierboom commented on #286
Whoops. Totally missed that. A retraction is then indeed better

[2017-01-24 09:44] #286 closed

[2017-02-06 07:41] petertseng opened #295 "pov: Consider making tests insensitive to child ordering"
In the [pov tests](https://github.com/exercism/xfsharp/blob/master/exercises/pov/PovTest.fs), given a tree that must be reparented on node x, the tests ensure that the former parent of x comes *after* the former children of x.

Example: The graphs:

[code]

However, you could imagine that the following ordering is equally valid - it doesn't matter whether the root becomes the last child or the fir

[2017-02-06 07:58] petertseng opened #296 "dominoes: consider asking for chain rather than canChain"
There are two possible ways to interpret the dominoes problem, as [the canonical data](https://github.com/exercism/x-common/blob/master/exercises/dominoes/canonical-data.json) tells us.

1. Only ask for `canChain`, a boolean telling us whether the given dominoes can be chained. The tests only need to check whether the boolean matches the expectation.
2. Ask for `chain`, which will be (I assume for

[2017-02-06 08:08] petertseng commented on #295
I just realized a difficulty with this. `mkGraph` is **in control of the student**.

So that means, **perhaps it's the student's responsibility** to ensure that `mkGraph` creates graphs insensitive to child ordering... as well as having the `fromPOV` function ensure that it puts children in the same order as `mkGraph` would.

In general, this means that because the student is free to use whatever

[2017-02-06 08:25] ErikSchierboom commented on #295
The reason we use `mkGraph` is indeed to have the student choose his/her own implementation of the tree structure. We used to do exercises where the tree structure was already defined, but people did not really like being forced into using a specific structure.

So either we add more tests, pre-define the tree implementation or leave it as is. I don't really like the first option, but the second o

[2017-02-06 08:33] petertseng commented on #295
Here is another option that I didn't like when I was thinking about it for Haskell, but I have saved at https://github.com/exercism/xhaskell/pull/107

The idea is, expect that there are two common orderings that students will use:
1. former parent before former children
2. former parent after former children

This assumes the student will not use "former parent in the middle of former children", a

[2017-02-06 08:39] ErikSchierboom commented on #296
@robkeim How do you feel about this?

[2017-02-06 08:59] petertseng commented on #296
Oh, for the record, I find it highly unlikely that a student implementation will falsely pass the tests even if the tests only look for true/false, so I don't think this is very urgent. I predict that students will still actually attempt to find a chain (and if they don't, they're the ones missing out!).

If my prediction is correct, then I think the main advantage of implementing `chain` is simpl

[2017-02-06 10:22] balazsbotond commented on #295
I haven't yet solved this exercise, and I've just quickly skimmed the README. But I really liked that I could define my own data structures in previous ones. You can learn a lot more from implementing both the data structure and the algorithm.

As far as I can see, because the implementation is fully encapsulated, the student is free to override Equals to make node equality independent of child or

[2017-02-06 10:47] robkeim commented on #296
_disclaimer: I haven't implemented this exercise myself yet_

I would definitely feel more confident my solution worked correctly if `chain` were validated as opposed to `canChain`.

I had a look at the other tracks that implemented `chain` (I updated @petertseng's post above to include the links) and the complexity didn't seem too bad in terms of implementation, but you just have to ensure you ch

[2017-02-06 11:42] robkeim commented on #295
I also haven't implemented this exercise yet, but here's my $0.02...

I think that either approach is valid but it's worth making it explicit whichever direction we decide to go. For this exercise, the focus isn't about keep the order of the children, so I would say moving to have an order independent comparison seems logical.

@petertseng said:

While I agree that's probably the case for this exe

[2017-02-06 12:07] ErikSchierboom commented on #296
@robkeim The `canChain` approach was slightly easier to implement, which reduced the difficulty a bit. But now that I see all arguments, I think it would make more sense to convert it to `chain`. The extra effort I think will not be that bad.

[2017-02-06 12:11] ErikSchierboom commented on #295
For now, I'm slightly in favor of just leaving the exercise as it is. Yes it is an inconvenience that the order matters, but the student is given more freedom on the data structure implementation.

[2017-02-06 12:47] robkeim commented on #296
Ok sounds good!

[2017-02-06 13:57] balazsbotond commented on #295
@ErikSchierboom if I understand the tests correctly, they don't necessarily enforce a specific order - if you override `Equals`, you can make them pass even if the children are ordered differently in your data structure.

And if you use a `Set` in F# to represent the set of children, you get this `Equals` implementation for free. In C#, you need to implement `Equals` to use `HashSet.SetEquals` for

[2017-02-06 14:29] ErikSchierboom commented on #295
@petertseng I think I'll close this issue and leave the exercise as is. Would that be okay with you?

[2017-02-06 17:49] petertseng commented on #295
Given the factors discussed:

* It's important to give the student freedom in implementation
* The student can override Equals to make the order not matter
* The proposed change would increase test complexity

It seems the best way is to leave the exercise as is.

The issue stated to "consider", and it's been considered, so from my point of view, the mission is accomplished! =D

[2017-02-06 17:49] #295 closed

[2017-02-06 19:06] ErikSchierboom commented on #229
As @robkeim mentioned in [this C# track issue](https://github.com/exercism/xcsharp/issues/138), the CLI tooling is no longer in preview. I just managed to get an F# project with xUnit tests running on .NET Core on my Mac, so things are starting to improve :)

This is the `.fsproj` file I used for my demo project:

[code]

[2017-02-06 21:05] petertseng commented on #295
In case any wonders, I updated my F# implementation such that ordering of children does not matter in the trees, and everything is well.

[2017-02-06 21:23] robkeim commented on #229
Cool stuff :)

[2017-02-07 19:45] ErikSchierboom opened #297 "Replace NUnit with Xunit"
Xunit has slowly but steadily been replacing NUnit as the favored testing framework. Virtually all open-source Microsoft code now uses Xunit as the unit-testing framework. The integration with .NET Core is thus also better, as Microsoft has invested in Xunit for its own software and thus has to keep it running. An example of this improved integration is the fact that there is an Xunit template ava

[2017-02-07 19:50] ErikSchierboom opened #298 "Replace [<TestCase>] tests with individual tests"
We have several places where we use `[TestCase]` to create a single test with multiple input values. While efficient (no code duplication), this is not the best of user experiences as it makes it harder to run a single test and also doesn't really allow us to mark the various input values with a descriptive text. It also doesn't align with how canonical data for exercises is defined, which only wo

[2017-02-07 22:56] robkeim commented on #297
The same conversion is happening in C# as part of https://github.com/exercism/xcsharp/issues/193

[2017-02-07 22:56] robkeim commented on #298
This is also being discussed in the C# track https://github.com/exercism/xcsharp/issues/194

[2017-02-07 23:17] robkeim commented on #298
Here are the list of exercises using the `TestCase` attribute:
- [ ] [acronym](https://github.com/exercism/xfsharp/tree/master/exercises/acronym)
- [ ] [atbash-cipher](https://github.com/exercism/xfsharp/tree/master/exercises/atbash-cipher)
- [ ] [clock](https://github.com/exercism/xfsharp/tree/master/exercises/clock)
- [ ] [diamond](https://github.com/exercism/xfsharp/tree/master/exercises/diamon

[2017-02-08 07:12] ErikSchierboom commented on #298
Great work gathering this data @robkeim!

[2017-02-08 13:39] balazsbotond commented on #298
I can start working on these. I will always leave a comment here before starting to convert the tests for an exercise - this way you'll know which ones are still up for grabs :)

[2017-02-08 13:42] robkeim commented on #298
Sounds great, thanks @balazsbotond.

[2017-02-08 13:56] ErikSchierboom commented on #298
That would be brilliant @balazsbotond1

[2017-02-09 12:53] balazsbotond commented on #298
Starting to work on: acronym

[2017-02-10 19:16] ErikSchierboom opened #305 "Check for out-of-date test data"
The canonical data of the various exercises regularly receives updates. Some of our exercises will be using outdated or incomplete data. We should try to fix this.

[2017-02-12 09:59] ErikSchierboom opened #306 "Integrate FSharpLint into build"
The [FSharpLint](http://fsprojects.github.io/FSharpLint/) tool can check F# code for common errors/improvements and can make suggestions on how to fix them. We should include this in our build, so that it runs each time a project runs.

Note: this is dependent on having a separate project for each exercise, which we will do once the .NET Core tooling is fully working.

[2017-02-14 20:46] ErikSchierboom opened #307 "Create pre-built Docker container"
With .NET Core having great support for Docker, we could quite feasibly create a Docker container that has a working .NET Core installation as well as an installed exercism CLI. This could make starting out for those familiar with Docker a lot easier.

[2017-02-17 21:14] ErikSchierboom opened #308 "Allow exercises to build and run on .NET Core"
This issue will keep track of the work items to get our exercises running on .NET Core.

- [x] Convert tests from NUnit to xUnit (#297)
- [x] Create a project for each exercise (#309)
- [x] Fix the CI builds
- [x] Update the documentation

Once these items have been completed, we probably want to to wait at least until the final release of Visual Studio 2017 (which will be on march 7th) and the RT

[2017-02-17 21:21] ErikSchierboom opened #309 "Create project for each exercise"
To help users get started programming, we should provide the user with a skeleton .fsproj file. This .fsproj file should work with the .NET CLI and run on .NET Core.

[2017-02-17 21:30] petertseng commented on #32
1. The exact script I used to test my F# submissions on Linux:

[code]

2. After #308 is complete, `dotnet test` will run the tests.

[2017-02-20 00:51] nicholaslawton opened #310 "Grep exercise test suite does not enforce correct interaction between flag combinations"
[The test suite for the Grep exercise](http://exercism.io/exercises/fsharp/grep/test-suite) does not enforce correct behaviour for interaction between all combinations of flags.

The `One file, one match, multiple flags` and `Multiple files, one match, multiple flags` test cases do require case insensitive matching to combine with printing line numbers. And while they both also specify entire line

[2017-02-20 18:49] ErikSchierboom opened #311 "Update hello-world exercise"
The `hello-world` exercise has been simplified (see its [canonical-data](https://github.com/exercism/x-common/blob/master/exercises/hello-world/canonical-data.json) and the [discussion](https://github.com/exercism/x-common/issues/520)). We should update our implementation.

[2017-02-20 18:55] ErikSchierboom commented on #310
@nicholaslawton Great catch! Would you be interested in submitting a PR for this? No worries if you don't though.

[2017-02-20 19:26] #311 closed

[2017-02-21 03:11] nicholaslawton commented on #310
Made a quick change to add a few test cases to enforce correct behaviour for the flag combinations identified here.

I think it is probably complete, because it is only these three flags which determine which lines are selected. The other flags alter the output format. At a minimum, it should direct players towards a complete solution.

[2017-02-21 07:25] ErikSchierboom commented on #310
@nicholaslawton Great work! I've just merged the PR. Thanks a lot for the help!

[2017-02-21 07:25] #310 closed

[2017-02-21 20:41] hobbitjoe opened #314 "List-Ops foldr implementation/tests"
The id and append test cases:
[code]
The arguments for the accumulator and the list to fold over are backwards compared to [F#'s own foldBack function](https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/list.foldback%5b't,'state%5d-function-%5bfsharp%5d) which is F#'s equivalent of foldr.

Below are two implentations that have been submitted for foldr
[code]
The top one I wrote has the f

[2017-02-21 20:43] ErikSchierboom commented on #314
@hobbitjoe Ah, good catch! This is almost certainly due to the fact that I used my Haskell exercise as the basis for the F# one. Would you perhaps like to submit a PR to fix this? If not, no problem!

[2017-02-21 20:55] ErikSchierboom opened #315 "Add link to xfsharp gitter room"
I've just created a Gitter room for this repository at: https://gitter.im/exercism/xfsharp We should add this link to the documentation.

[2017-02-21 21:01] hobbitjoe commented on #314
@ErikSchierboom sure, I can work on a PR.  Should I just swap the lists in the test cases where foldr is used or should the name of the function also be changed?

[2017-02-21 21:06] hobbitjoe commented on #309
@ErikSchierboom some coworkers and I have been using visual studio code along with a make file using Fake in order to build the code and run the tests without the need of a fsproj file.  Since we do not use a fsproj file it looks like the test file has errors highlighted incorrectly.  Not sure if you would be interested in something like this or not, but figured I'd let you know how I've been runn

[2017-02-21 21:07] ErikSchierboom commented on #314
Great! I think swapping would be enough, as the exercise's [canonical data](https://github.com/exercism/x-common/blob/master/exercises/list-ops/canonical-data.json) also lists the function as `foldr` (which nicely mirrors the `foldl` function).

[2017-02-21 21:09] ErikSchierboom commented on #309
@hobbitjoe Cool. The [build script](https://github.com/exercism/xfsharp/blob/master/build.fsx) does something similar. With the .NET CLI tooling (and updated .fsproj files) almost being finished, I think we won't be needing such a FAKE script (hopefully). Would you mind if I contact you to test things once I'll be working on this issue?

[2017-02-21 21:17] hobbitjoe commented on #309
@ErikSchierboom sure, I'll be happy to help test!

[2017-02-21 23:17] hobbitjoe commented on #314
PR #316 created for this issue

[2017-02-22 07:28] ErikSchierboom commented on #314
Closed due to #316 being merged. Once again thanks @hobbitjoe!

[2017-02-22 07:28] #314 closed

[2017-02-22 07:29] ErikSchierboom commented on #309
Great! I'll keep you to that promise :)

[2017-02-25 11:55] tushartyagi commented on #315
@ErikSchierboom Added the PR [here](https://github.com/exercism/xfsharp/pull/317)

[2017-02-25 12:02] tushartyagi commented on #203
@ErikSchierboom I would love to contribute to this change. I am a F# newbie so I guess this will help me in learning FsUnit as well.

Now that [x-api/PR124](https://github.com/exercism/x-api/pull/124) is closed, have you started working on your setup?

[2017-02-25 12:21] ErikSchierboom commented on #315
@tushartyagi I think it would also make sense to add the link to the docs/resources.md file, which contents are displayed on exercism.io. Would you be willing to also send a pr for that?

[2017-02-25 12:39] ErikSchierboom commented on #203
@tushartyagi I have not yet worked on the new setup, which will be based on .NET Core. As part of the process of converting the exercises to .NET Core, we will be creating a [project file](#309) for each exercise. This will allow us to add the additional package dependency (FsUnit) automatically. Another part of the .NET Core conversion setup is to use xUnit instead of NUnit as the testing framewo

[2017-02-25 13:11] tushartyagi commented on #315
@ErikSchierboom created PR #318 for ^^

[2017-02-25 14:18] ErikSchierboom commented on #315
Perfect.

[2017-02-25 14:18] #315 closed

[2017-02-27 07:45] ErikSchierboom commented on #305
- [ ] hello-world
- [ ] leap
- [ ] bob
- [ ] gigasecond
- [ ] difference-of-squares
- [ ] rna-transcription
- [ ] sum-of-multiples
- [ ] space-age
- [ ] grains
- [ ] hamming
- [ ] nucleotide-count
- [ ] accumulate
- [ ] raindrops
- [ ] grade-school
- [ ] pangram
- [ ] etl
- [ ] clock
- [ ] beer-song
- [ ] triangle
- [ ] robot-name
- [ ] error-handling
- [ ] scrabble-score
- [ ] proverb
- [ ] prote

[2017-02-27 07:52] ErikSchierboom opened #319 "Use paket bootstrapper's magic mode"
We should use paket's bootstrapper magic mode for our build script, which allows us to only check in a small binary to the root of the project: https://fsprojects.github.io/Paket/bootstrapper.html#Magic-mode

[2017-04-04 15:59] kytrinyx opened #321 "Override probot/stale defaults, if necessary"
Per the discussion in https://github.com/exercism/discussions/issues/128 we
will be installing the probot/stale integration on the Exercism organization on
April 10th, 2017.

By default, probot will comment on issues that are older than 60 days, warning
that they are stale. If there is no movement in 7 days, the bot will close the issue.
By default, anything with the labels `security` or `pinned`

[2017-04-05 18:19] kytrinyx commented on #321
I made a mistake.

This was not explicitly documented in the README, but probot/stale **requires the presence of a .github/stale.yml** file.

If you want the default behavior, you need to add an empty .github/stale.yml file to this repo, otherwise the bot will not be active.

[2017-04-08 07:01] #321 closed

[2017-04-30 03:40] rmunn commented on #32
I think there's still value in keeping this one open, so this is a quick ping to prevent the issue being auto-closed. I'd still like to see some sort of scaffolding repo that a newbie could clone and have immediate access to FAKE, Packet, and a build.sh / build.cmd script.

[2017-04-30 03:42] rmunn commented on #203
I'd like to see this issue stay open, so this is a contentless update so that the auto-close bot will leave the issue open.

[2017-05-05 15:21] kytrinyx commented on #32
I added the pinned label so probot wont close it for inactivity.

[2017-05-28 11:05] robkeim opened #324 "Implement Rotational Cipher exercise"
The new exercise description and test cases can be found here:
https://github.com/exercism/x-common/tree/master/exercises/rotational-cipher

[2017-08-17 15:47] robkeim opened #341 "Implement Collatz Conjecture exercise"
Description can be found here:
https://github.com/exercism/problem-specifications/blob/master/exercises/collatz-conjecture/description.md

[2017-08-17 15:47] robkeim opened #342 "Implement Spiral Matrix exericse"
Description can be found here:
https://github.com/exercism/problem-specifications/blob/master/exercises/spiral-matrix/description.md

[2017-08-17 15:48] robkeim opened #343 "Implement Complex Numbers exercise"
Description can be found here:
https://github.com/exercism/problem-specifications/blob/master/exercises/complex-numbers/description.md

[2017-08-20 01:20] Mousaka commented on #32
Any progress on this issue? I'm a Linux user and I'm totally lost how to get started.

[2017-08-20 03:53] kytrinyx commented on #32
@Mousaka I don't know that there has been any movement, but this would be a fantastic opportunity to figure out exactly what needs to go into there, if you're willing to help us think this through step by step.

The first thing I'm going to try to do is help narrow down where you're stuck—that might be an Exercism problem in general, or an F# problem specifically.

**Have you ever used Exercism be

[2017-08-20 08:40] ErikSchierboom commented on #32
@Mousaka At the moment, we don't have a detailed workflow. But you should be able to follow the instructions on http://fsharp.org/use/linux/

We will be porting the F# track over to .NET Core, which will make the whole track completely cross-platform.

[2017-08-20 20:52] Mousaka commented on #32
@kytrinyx @ErikSchierboom Thanks for answering so quickly.
@kytrinyx I'll answer your questions and I can perhaps try to help out with this. I might try out the new beta of exercism later but I'm not sure if that is related to my current problem with fsharp?

Yes, I have used it before and I've solved around 20 problems or so in Elm, Elixir, Java and JavaScript. My experience is that it has been f

[2017-08-20 22:34] kytrinyx commented on #32
@Mousaka -- nope, it sounds like this is specifically linked to the F# track, since you've successfully used Exercism for other languages.

Ouch, yes! Neither would I.

@ErikSchierboom a few questions about this in general:

- Is this the process that you use?
- If not, is your process meaningfully different? Simpler?
- Is the process pretty much the same no matter which editor/IDE one uses?
- How

[2017-08-21 02:51] robkeim commented on #32
@Mousaka welcome to the F# track, and I'm sorry that you've had a rough time getting started :( I appreciate your tenacity and taking the time to share your feedback with us. I agree with @kytrinyx's assessment that this is an F# track issue not a larger, Exercism issue.

IMO, newcomers to a given track should be able to get the Hello World up and running quickly and seamlessly otherwise it's not

[2017-08-21 02:57] rmunn commented on #32
Here's the process I use on Linux:

1. I have a private BitBucket repo containing my code, checked out to `~/exercism/fsharp/`.
1. I have a two-line bash script called `doit.sh` in that folder, which looks like this:
[code]
1. I have a `paket.dependencies` file in `~/exercism/fsharp` that looks like this:
[code]
1. I have an `exercise.fsproj` file that looks like this:
[code]

The first step in ma

[2017-08-21 06:53] ErikSchierboom commented on #32
There is indeed a bit of a learning curve, as well as some manual stuff you have to do at the moment. However, as @robkeim said, we are planning to move to .NET Core which will alleviate most if not all problems. The problem for a long time was: F# support on .NET Core was not in .NET Core 1.0, but with the recently released .NET Core 2.0, we can finally work on adding this integration. It is on t

[2017-08-21 11:52] ErikSchierboom commented on #32
FYI: I've started working on this

[2017-08-21 14:07] ErikSchierboom opened #345 "Remove CircleCI and AppVeyor integration"
Similar to https://github.com/exercism/csharp/issues/340

[2017-08-21 14:10] ErikSchierboom commented on #345
@kytrinyx Would you be so kind to remove the CircleCI and AppVeyor for the fsharp repository, similar to what you did for the csharp repository?

[2017-08-21 15:10] kytrinyx commented on #32
@ErikSchierboom if you're able to describe it in a way where people could pick off specific pieces I could write about it in the next newsletter and tweet about it and maybe we could get people to help pitch in.

[2017-08-21 15:11] kytrinyx commented on #345
Done and done!

[2017-08-21 15:26] ErikSchierboom commented on #345
Thanks!

[2017-08-21 15:27] ErikSchierboom commented on #32
@kytrinyx Well, it's a bit hard as there is a fixed order and most of it is bulk updates. But I'll think about it! Thanks for the offer.

[2017-08-21 15:38] rebelwarrior commented on #32
This may be a weird question but why do we need NET.core at all? Isn't F# in mono as well?
Is the testing Lib tied to net.core?

- David

Sent from my mobile.

[2017-08-21 16:51] ErikSchierboom commented on #32
Well, it is not .NET Core per se, I have not phrased it correctly. What we are doing is moving to .NET Standard 2.0, of which .NET Core 2.0 is one of the runtimes. The benefit of moving to .NET Standard 2.0 are many:

- The F# track then runs on the full .NET Framework, Mono and any machine that can run .NET Core 2.0
- We can use the updated .fsproj file format, which is much cleaner and easier to

[2017-08-22 02:31] robkeim commented on #345
Closed via #346

[2017-08-22 02:31] #345 closed

[2017-08-22 04:42] Mousaka commented on #32
@robkeim Thanks for your reply and for trying to help me out.

### Improved solution 1
I did not try your workflow but I tried something similar inspired by what you told me about how solutions-project-structure work:
Using Rider IDE (prob works with any other as well)
1. I made a solution in exercism/fsharp (only needed one time, 2-4 is per problem)
2. Created a new project for example "sum-of-mu

[2017-08-22 05:19] petertseng commented on #32
In case it can be helpful, I share what I did to work on the F# track. Here is the Vagrantfile I used:

[code]

Here is the `test.sh` I use.

[code]

Given that my Exercism directory is ~/exercism:

* I place the Vagrantfile at `~/exercism/fsharp/Vagrantfile` and the `test.sh` at `~/exercism/fsharp/test.sh`
* I run `vagrant up` in `~/exercism/fsharp` (you can feel free to remove the two `csharp` l

[2017-08-22 05:19] petertseng commented on #32
in case that makes it sound like the instructions are out of date, don't worry, I just tested them while writing this and they still work

[2017-08-22 07:10] ErikSchierboom commented on #32
@Mousaka If you're interested, you can follow progress on this issue on my branch: https://github.com/ErikSchierboom/fsharp/tree/dotnet-core

[2017-08-22 21:55] Mousaka commented on #32
@petertseng I like how you use vagrant to make the installation setup more consistent. If someone would try my setup it's likely they're gonna run in to trouble. But in some way isn't it kind of a weird setup to have to run tests in a VM but code on host? I guess maybe it's kind of like having a build server you push changes to except that it's the only way to run tests.

[2017-08-23 06:41] petertseng commented on #32
I guess I don't notice the difference because it's all in a terminal no matter whether it's on the host machine or the VM. It is possible I accidentally try to start up my text editor in the VM or test.sh on the host machine, but rare.

[2017-08-29 19:27] ErikSchierboom commented on #319
I've dropped Paket and Fake in the .NET Core branch, as their .NET Core support leave a lot to be desired at the moment.

[2017-08-29 19:27] #319 closed

[2017-09-02 12:24] #203 closed

[2017-09-03 06:51] ErikSchierboom commented on #32
@Mousaka With #348 merged, the F# track should be a lot easier to get started with. It is all based on .NET Core now, so you are able to work on the track from a wide variety of platforms using either an IDE or the command-line interface.

[2017-09-03 06:51] #32 closed

[2017-09-03 06:51] ErikSchierboom commented on #229
Fixed by #348.

[2017-09-03 06:51] #229 closed

[2017-09-03 06:52] ErikSchierboom commented on #251
Fixed by #348.

[2017-09-03 06:52] #251 closed

[2017-09-03 06:52] ErikSchierboom commented on #277
Fixed by #348.

[2017-09-03 06:52] #277 closed

[2017-09-03 06:52] ErikSchierboom commented on #297
Fixed by #348.

[2017-09-03 06:52] #297 closed

[2017-09-03 06:53] ErikSchierboom commented on #309
Fixed by #348. @hobbitjoe Would you mind testing it (by fetching a new exercise) to see if it works?

[2017-09-03 06:53] #309 closed

[2017-09-03 06:53] ErikSchierboom commented on #308
Fixed by #348.

[2017-09-03 06:53] #308 closed

[2017-09-04 01:14] Mousaka commented on #32
@ErikSchierboom Great job! I will try it out. I saw the PR you merged.. it looked like a lot of work.. so.. Really awesome that you did all that for all the F#-curious people out there!! thank you so much :confetti_ball: :+1:

[2017-09-04 05:51] Mousaka commented on #32
Really easy to fetch problems and get going now!! Love it. You only have to type three commands to run tests now
[code]
replace last command with something like `<your_favourite_IDE> .` to open the project in your IDE

[2017-09-04 06:01] ErikSchierboom commented on #32
@Mousaka Thanks for testing! Great to hear it works :)

[2017-09-08 15:35] hobbitjoe commented on #309
@ErikSchierboom sorry for the delay but I was able to fetch a new problem today and test it out.  I was able to run the tests via the CLI using dotnet core 2.0 on macOS 10.12.6 with no issues.  Let me know if any other information is needed.

[2017-09-08 16:22] ErikSchierboom commented on #309
@hobbitjoe Great! Thanks for testing.

[2017-09-24 01:21] danielhensilva opened #353 "TreeBuilding exercise should not have implemented functions"
I've fetched TreeBuilding and it seems to already be implemented with all tests cases passing.
Also, there are some missing `skip` for them.

[2017-09-24 08:17] ErikSchierboom commented on #353
@danielhensilva This is not actually a bug, but a feature! The tree building exercise is an unusual exercise in that it starts with a working implementation. Its goal is to refactor the implementation into something better, which is also why none of the test cases are being skipped (as you can verify the refactoring didn't break anything).

I hope this clears things up!

[2017-09-24 08:17] #353 closed

[2017-09-24 12:17] danielhensilva commented on #353
Oh! I've got it now! Sorry about this, Erik! :)

[2017-09-24 19:56] ErikSchierboom commented on #353
No problem!

[2017-10-07 08:17] NobbZ opened #356 "grade-school: Map<int, string list> compared with (int * string list) list"
In the exercises stub, there is the function `roster` stubbed:

https://github.com/exercism/fsharp/blob/master/exercises/grade-school/GradeSchool.fs#L7

[code]

In a later test its return value is compared to a list of key-value-pairs:

https://github.com/exercism/fsharp/blob/master/exercises/grade-school/GradeSchoolTest.fs#L52-L66

[code]

In the example implementation said function is implemente

[2017-10-07 08:57] #356 closed

[2017-10-07 12:40] NobbZ opened #358 "grade-school: ``Student names and grades in roster are sorted`` does miss edge-cases"
When items are appended to the internal list, the test works as expected, but I do prepend students, therefore that test misses my case and passes, without me ever sorting the roster…

[code]

[2017-10-07 14:46] #358 closed

[2017-10-10 09:31] ErikSchierboom opened #361 "Add the exercises without canonical data to test generator"
Right now we have to manually check to see if an exercise gets canonical data in the future. I'd like to have it integrated into the generator with some sort of flag saying "this doesn't have data" and then it can start throwing exceptions in the future if the data is created so we know we'll have to implement it (keeping my fingers crossed that all exercises will have canonical data someday)

Thi

[2017-10-10 09:32] ErikSchierboom opened #362 "Create issues for exercises with canonical data without generator"
Now that we have support for [generators](#360), we should create individual issues for each exercise with canonical data but without a generator.

[2017-10-12 16:21] ErikSchierboom opened #363 "Create test generators"
The canonical data of the various exercises regularly receives updates. Some of our exercises will be using outdated or incomplete data. We should try to fix this by writing test generators, support for which was added in #360.

[2017-10-12 16:24] ErikSchierboom commented on #362
I'm working on this.

[2017-10-12 16:31] ErikSchierboom opened #364 "Add two-fer Test Generator"
This issue is part of an overall initiative to complete #363.

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the [existing generators](https://github.com/exercism/fsharp/blob/master/generators/Generators.fs) and the base [Exercise class](https://github.com/exercism/fsharp/blob/master/generators/Exercise.fs) they inherit fro

[2017-10-12 16:37] ErikSchierboom opened #365 "Add alphametics Test Generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found at [here](https://github.com/exercism/problem-specifications/blob/master/exercises/alphametics/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the [existing generators](htt

[2017-10-12 16:37] ErikSchierboom opened #366 "Add anagram Test Generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found at [here](https://github.com/exercism/problem-specifications/blob/master/exercises/anagram/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the [existing generators](https:/

[2017-10-12 16:37] ErikSchierboom opened #367 "Add binary-search Test Generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found at [here](https://github.com/exercism/problem-specifications/blob/master/exercises/binary-search/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the [existing generators](h

[2017-10-12 16:37] ErikSchierboom opened #368 "Add bowling Test Generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found at [here](https://github.com/exercism/problem-specifications/blob/master/exercises/bowling/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the [existing generators](https:/

[2017-10-12 16:37] ErikSchierboom opened #369 "Add circular-buffer Test Generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found at [here](https://github.com/exercism/problem-specifications/blob/master/exercises/circular-buffer/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the [existing generators]

[2017-10-12 16:37] ErikSchierboom opened #370 "Add clock Test Generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found at [here](https://github.com/exercism/problem-specifications/blob/master/exercises/clock/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the [existing generators](https://g

[2017-10-12 16:37] ErikSchierboom opened #371 "Add connect Test Generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found at [here](https://github.com/exercism/problem-specifications/blob/master/exercises/connect/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the [existing generators](https:/

[2017-10-12 16:37] ErikSchierboom opened #372 "Add custom-set Test Generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found at [here](https://github.com/exercism/problem-specifications/blob/master/exercises/custom-set/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the [existing generators](http

[2017-10-12 16:37] ErikSchierboom opened #373 "Add diamond Test Generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found at [here](https://github.com/exercism/problem-specifications/blob/master/exercises/diamond/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the [existing generators](https:/

[2017-10-12 16:37] ErikSchierboom opened #374 "Add dominoes Test Generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found at [here](https://github.com/exercism/problem-specifications/blob/master/exercises/dominoes/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the [existing generators](https:

[2017-10-12 16:37] ErikSchierboom opened #375 "Add etl Test Generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found at [here](https://github.com/exercism/problem-specifications/blob/master/exercises/etl/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the [existing generators](https://git

[2017-10-12 16:37] ErikSchierboom opened #376 "Add food-chain Test Generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found at [here](https://github.com/exercism/problem-specifications/blob/master/exercises/food-chain/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the [existing generators](http

[2017-10-12 16:37] ErikSchierboom opened #377 "Add forth Test Generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found at [here](https://github.com/exercism/problem-specifications/blob/master/exercises/forth/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the [existing generators](https://g

[2017-10-12 16:37] ErikSchierboom opened #378 "Add grains Test Generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found at [here](https://github.com/exercism/problem-specifications/blob/master/exercises/grains/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the [existing generators](https://

[2017-10-12 16:37] ErikSchierboom opened #379 "Add grep Test Generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found at [here](https://github.com/exercism/problem-specifications/blob/master/exercises/grep/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the [existing generators](https://gi

[2017-10-12 16:37] ErikSchierboom opened #380 "Add hamming Test Generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found at [here](https://github.com/exercism/problem-specifications/blob/master/exercises/hamming/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the [existing generators](https:/

[2017-10-12 16:37] ErikSchierboom opened #381 "Add house Test Generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found at [here](https://github.com/exercism/problem-specifications/blob/master/exercises/house/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the [existing generators](https://g

[2017-10-12 16:37] ErikSchierboom opened #382 "Add largest-series-product Test Generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found at [here](https://github.com/exercism/problem-specifications/blob/master/exercises/largest-series-product/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the [existing gene

[2017-10-12 16:37] ErikSchierboom opened #383 "Add list-ops Test Generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found at [here](https://github.com/exercism/problem-specifications/blob/master/exercises/list-ops/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the [existing generators](https:

[2017-10-12 16:37] ErikSchierboom opened #384 "Add markdown Test Generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found at [here](https://github.com/exercism/problem-specifications/blob/master/exercises/markdown/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the [existing generators](https:

[2017-10-12 16:37] ErikSchierboom opened #385 "Add meetup Test Generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found at [here](https://github.com/exercism/problem-specifications/blob/master/exercises/meetup/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the [existing generators](https://

[2017-10-12 16:37] ErikSchierboom opened #386 "Add nth-prime Test Generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found at [here](https://github.com/exercism/problem-specifications/blob/master/exercises/nth-prime/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the [existing generators](https

[2017-10-12 16:37] ErikSchierboom opened #387 "Add nucleotide-count Test Generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found at [here](https://github.com/exercism/problem-specifications/blob/master/exercises/nucleotide-count/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the [existing generators

[2017-10-12 16:37] ErikSchierboom opened #388 "Add ocr-numbers Test Generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found at [here](https://github.com/exercism/problem-specifications/blob/master/exercises/ocr-numbers/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the [existing generators](htt

[2017-10-12 16:37] ErikSchierboom opened #389 "Add palindrome-products Test Generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found at [here](https://github.com/exercism/problem-specifications/blob/master/exercises/palindrome-products/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the [existing generat

[2017-10-12 16:37] ErikSchierboom opened #390 "Add pascals-triangle Test Generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found at [here](https://github.com/exercism/problem-specifications/blob/master/exercises/pascals-triangle/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the [existing generators

[2017-10-12 16:37] ErikSchierboom opened #391 "Add perfect-numbers Test Generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found at [here](https://github.com/exercism/problem-specifications/blob/master/exercises/perfect-numbers/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the [existing generators]

[2017-10-12 16:37] ErikSchierboom opened #392 "Add phone-number Test Generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found at [here](https://github.com/exercism/problem-specifications/blob/master/exercises/phone-number/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the [existing generators](ht

[2017-10-12 16:37] ErikSchierboom opened #393 "Add poker Test Generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found at [here](https://github.com/exercism/problem-specifications/blob/master/exercises/poker/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the [existing generators](https://g

[2017-10-12 16:37] ErikSchierboom opened #394 "Add pov Test Generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found at [here](https://github.com/exercism/problem-specifications/blob/master/exercises/pov/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the [existing generators](https://git

[2017-10-12 16:37] ErikSchierboom opened #395 "Add prime-factors Test Generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found at [here](https://github.com/exercism/problem-specifications/blob/master/exercises/prime-factors/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the [existing generators](h

[2017-10-12 16:37] ErikSchierboom opened #396 "Add rail-fence-cipher Test Generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found at [here](https://github.com/exercism/problem-specifications/blob/master/exercises/rail-fence-cipher/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the [existing generator

[2017-10-12 16:37] ErikSchierboom opened #397 "Add react Test Generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found at [here](https://github.com/exercism/problem-specifications/blob/master/exercises/react/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the [existing generators](https://g

[2017-10-12 16:37] ErikSchierboom opened #398 "Add rectangles Test Generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found at [here](https://github.com/exercism/problem-specifications/blob/master/exercises/rectangles/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the [existing generators](http

[2017-10-12 16:37] ErikSchierboom opened #399 "Add robot-simulator Test Generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found at [here](https://github.com/exercism/problem-specifications/blob/master/exercises/robot-simulator/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the [existing generators]

[2017-10-12 16:37] ErikSchierboom opened #400 "Add run-length-encoding Test Generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found at [here](https://github.com/exercism/problem-specifications/blob/master/exercises/run-length-encoding/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the [existing generat

[2017-10-12 16:40] ErikSchierboom commented on #362
The issues have been generated!

[2017-10-12 16:40] #362 closed

[2017-10-14 07:11] ErikSchierboom opened #401 "Add links to canonical data to generator issues"

[2017-10-14 07:12] ErikSchierboom commented on #401
Done.

[2017-10-14 07:12] #401 closed

[2017-10-15 07:16] NobbZ opened #402 "grains: Confusing messages when **not** using BigInteger"
Currently the testsuite assumes and the stub encourages the use of `BigInteger` as the return type for both, `total` and `square`.

Since I tend to use the “smallest” datatype that suites the expected co-domain, I ignored the `BigInteger` part in the types and replaced them by `uint64`.

This lead to funny failing tests:

[code]

Is there a way to either:

* Improve the messages to mention the typ

[2017-10-15 11:38] ErikSchierboom commented on #378
We should use `uint64` instead of `BigInt`, see #402.

[2017-10-15 11:38] ErikSchierboom commented on #402
Good catch.

We can't if we keep using FsUnit as they do some weird things when comparing types that should be able to be converted to each other.

We can't if we use FsUnit, but we can if we would encode the tests as standard xUnit assertions.

I think this is by far the best option. I've added a comment to #378 so that we will implement this when we create the test generator.

[2017-10-15 19:25] robkeim commented on #362
Thanks @ErikSchierboom for getting this list built and the issues created!

[2017-10-15 19:28] #400 closed

[2017-10-15 19:35] robkeim commented on #364
@ErikSchierboom why did you close this issue out of curiosity?

I don't see the generator for this in the latest code, but it looks like it has metadata here:
https://github.com/exercism/problem-specifications/blob/master/exercises/two-fer/canonical-data.json

[2017-10-15 19:51] robkeim commented on #296
I'm going ahead and closing this for the same reason outlined in https://github.com/exercism/csharp/issues/190

[2017-10-16 07:38] ErikSchierboom commented on #364
That was a mistake, re-opening!

[2017-10-16 22:10] NobbZ opened #409 "error-handling: not sure if this is a god exercise…"
TL;DR: I'm missing in this exercise how to handle exceptions thrown in code called by me and how to properly clean up then.

---

This exercises shows me how to use `failwith`, `Option<'T>` and `Result<'TOk, 'Terror>` when I want to return it.

It briefly touches how to deal with a `Result` that is passed in via the `bind` function, but not how to deal with a result.

But so far nothing new. We ha

[2017-10-17 08:59] ErikSchierboom commented on #409
Very good points. This exercise could definitely use an upgrade.

[2017-10-17 15:27] #392 closed

[2017-10-17 15:29] #378 closed

[2017-10-17 15:30] #396 closed

[2017-10-17 15:34] robkeim commented on #409
@NobbZ I definitely agree that here we have an exercise that lefts a lot up to the student to be done, and like the approach you went with in the Go track. The C# version could use an overhall as well.

[2017-10-17 18:57] NobbZ commented on #409
@robkeim please don't get me wrong. I am not a maintainer of the `go` track, nor a contributor, I told from the view of a student.

[2017-10-18 08:00] ErikSchierboom commented on #395
Closed by #408

[2017-10-18 08:00] #395 closed

[2017-10-18 08:01] ErikSchierboom commented on #402
Closed by #406

[2017-10-18 08:01] #402 closed

[2017-10-18 14:49] robkeim commented on #409
@NobbZ thanks for the clarification, and appreciate you taking the time to write up your feedback. It's very helpful to have feedback from students because as students we're the real customers of Exercism :)

[2017-10-19 06:22] ErikSchierboom commented on #391
Closed by #410

[2017-10-19 06:22] #391 closed

[2017-10-19 14:13] ErikSchierboom commented on #386
Closed by #411.

[2017-10-19 14:13] #386 closed

[2017-10-20 05:58] vrnithinkumar commented on #390
Looking into this.

[2017-10-20 19:27] vrnithinkumar commented on #382
Working on this.

[2017-10-23 06:02] ErikSchierboom commented on #376
I'm working on this.

[2017-10-23 18:39] vrnithinkumar commented on #374
Looking into this.

[2017-10-24 08:22] vrnithinkumar commented on #370
I am looking in to this.

[2017-10-24 12:06] ErikSchierboom commented on #399
Closed by #417.

[2017-10-24 12:06] #399 closed

[2017-10-24 12:07] ErikSchierboom commented on #390
Closed by #412.

[2017-10-24 12:07] #390 closed

[2017-10-24 12:07] ErikSchierboom commented on #382
Closed by #413.

[2017-10-24 12:07] #382 closed

[2017-10-24 13:27] roman-shuhov commented on #398
will work on this one

[2017-10-25 06:21] #370 closed

[2017-10-25 06:22] ErikSchierboom commented on #398
Closed by #419.

[2017-10-25 06:22] #398 closed

[2017-10-25 06:22] ErikSchierboom commented on #374
Closed b #416.

[2017-10-25 06:22] #374 closed

[2017-10-25 08:44] vrnithinkumar commented on #389
I am looking in to this.

[2017-10-26 02:54] roman-shuhov commented on #397
working on this one

[2017-10-26 23:58] petertseng commented on #296
It looks like this track will need to change its README.

The https://github.com/exercism/fsharp/blob/master/exercises/dominoes/README.md says such things like:

Since this track asks for canChain, this should probably read "Compute whether there exists a way to order a given set of dominoes"

Since this track asks for canChain, this should probably read "For example given the stones 21, 23 and 13

[2017-10-27 13:13] ErikSchierboom commented on #380
I'm working on this

[2017-10-27 13:13] ErikSchierboom commented on #381
I'm working on this

[2017-10-27 13:13] ErikSchierboom commented on #366
I'm working on this

[2017-10-27 13:14] ErikSchierboom commented on #388
I'm working on this

[2017-10-27 14:27] ErikSchierboom commented on #385
I'm working on this

[2017-10-28 08:40] ErikSchierboom commented on #375
I'm working on this

[2017-10-28 11:49] ErikSchierboom commented on #371
I'm working on this

[2017-10-28 11:57] ErikSchierboom commented on #365
I'm working on this

[2017-10-28 12:13] ErikSchierboom commented on #364
I'm working on this

[2017-10-28 12:19] ErikSchierboom commented on #387
I'm working on this

[2017-10-28 12:39] ErikSchierboom commented on #296
@petertseng At one point there was mention of some tooling to easily synchronize the test descriptions. Do you know if that tooling is available anywhere?

[2017-10-28 17:50] petertseng commented on #296
I do not know anything about it

[2017-10-28 17:52] petertseng commented on #296
For description.md -> README.md changes, I hvae been using `git cal --date="$(git --git-dir=../problem-specifications/.git show --format=%ai -s HEAD)" --author="$(git --git-dir=../problem-specifications/.git show --format='%an <%ae>' -s HEAD)" -m "$(git --git-dir=../problem-specifications/.git log --format=%B -n1 HEAD)"` but my workflow is not fully set in stone yet.

[2017-10-29 06:33] ErikSchierboom commented on #379
I'm working on this

[2017-10-29 06:35] ErikSchierboom commented on #373
Similar to the [C# issue](https://github.com/exercism/csharp/issues/406), we don't want to use the generator here, but instead use property-based testing.

[2017-10-29 06:35] #373 closed

[2017-10-29 06:37] ErikSchierboom opened #431 "Use property-based testing in diamond exercise"
We should convert the tests to use [FsCheck](https://github.com/fscheck/FsCheck), similar to the [C# implementation](https://github.com/exercism/csharp/blob/master/exercises/diamond/DiamondTest.cs).

[2017-10-29 13:52] #376 closed

[2017-10-29 13:55] #385 closed

[2017-10-29 13:59] #380 closed

[2017-10-29 14:00] #381 closed

[2017-10-29 14:01] #366 closed

[2017-10-29 14:03] robkeim commented on #296
Re-opening this to track the out-of-date documentation.

[2017-10-29 14:05] #388 closed

[2017-10-29 14:14] #371 closed

[2017-10-29 14:57] #365 closed

[2017-10-29 14:59] #364 closed

[2017-10-29 18:10] #375 closed

[2017-10-30 03:55] roman-shuhov commented on #393
taking this one

[2017-10-30 13:22] #387 closed

[2017-10-30 15:08] ErikSchierboom commented on #363
@robkeim We're down to a single page of issues! :D

[2017-10-30 15:09] robkeim commented on #363
Woo-hoo... awesome work!!!

[2017-10-31 05:25] roman-shuhov commented on #367
Implemented this one

[2017-10-31 07:21] ErikSchierboom commented on #367
Closed by #435.

[2017-10-31 07:21] #367 closed

[2017-10-31 13:14] ErikSchierboom commented on #393
Closed by #434.

[2017-10-31 13:14] #393 closed

[2017-11-01 13:55] robkeim opened #436 "Implement the Isbn Verifier exercise"
This new exercise needs to be implemented.

Problem description: https://github.com/exercism/problem-specifications/blob/master/exercises/isbn-verifier/description.md

Canonical data: https://github.com/exercism/problem-specifications/blob/master/exercises/isbn-verifier/canonical-data.json

[2017-11-10 15:24] ErikSchierboom commented on #389
@vrnithinkumar Are you still looking into this?

[2017-11-10 16:01] vrnithinkumar commented on #389
Sorry. I forgot about this. If I am blocking anyone, please go ahead and claim this.

[2017-11-10 18:36] ErikSchierboom commented on #389
@vrnithinkumar Nope, if you're still interested, feel free to work on it.

[2017-11-12 11:30] robkeim opened #442 "Add reverse-string exercise"
Description can be found here:
https://github.com/exercism/problem-specifications/blob/master/exercises/reverse-string/description.md

Canonical-data here:
https://github.com/exercism/problem-specifications/blob/master/exercises/reverse-string/canonical-data.json

[2017-11-13 17:45] ErikSchierboom commented on #341
PR #445 submitted to add this exercise.

[2017-11-13 17:49] ErikSchierboom opened #446 "Remove Program.fs when possible"
Once https://github.com/Microsoft/vstest/issues/1171 is fixed, we should remove the `Program.fs` file from all the projects.

[2017-11-13 17:50] ErikSchierboom commented on #442
I'm working on this.

[2017-11-14 02:02] #442 closed

[2017-11-14 02:07] robkeim commented on #446
@ErikSchierboom cool, we'll see if that issue gets traction so far it seems pretty quiet...

[2017-11-14 07:13] ErikSchierboom commented on #341
Closed by #445

[2017-11-14 07:13] #341 closed

[2017-11-14 17:42] ErikSchierboom commented on #324
I'm working on this

[2017-11-15 16:46] #324 closed

[2017-11-18 15:01] ErikSchierboom commented on #436
I'm working on this.

[2017-11-18 15:33] ErikSchierboom commented on #342
I'm working on this

[2017-11-18 16:22] #436 closed

[2017-11-18 16:32] robkeim commented on #363
I'm going to close this issue in favor of the separate issues we have now for the individual exercises.

[2017-11-18 16:32] #363 closed

[2017-11-18 16:33] robkeim commented on #305
@ErikSchierboom this effort should be obsolete with the migration to generators, so I'm going to close this issue.

[2017-11-18 16:33] #305 closed

[2017-11-18 16:34] robkeim commented on #298
@ErikSchierboom I'm closing this issue as this should now be obsolete with the move to using test generators.

[2017-11-18 16:34] #298 closed

[2017-11-18 16:40] ErikSchierboom commented on #363
Good call.

[2017-11-18 16:40] ErikSchierboom commented on #298
@robkeim Good point.

[2017-11-19 07:58] ErikSchierboom commented on #431
I'm working on this.

[2017-11-19 08:22] ErikSchierboom commented on #296
I'm working on this

[2017-11-19 08:24] ErikSchierboom commented on #389
@vrnithinkumar Okay, if you're okay with it, I'm gonna work on this.

[2017-11-19 11:32] #389 closed

[2017-11-19 11:37] #431 closed

[2017-11-19 12:55] ErikSchierboom commented on #377
I'm working on this

[2017-11-19 14:37] #342 closed

[2017-11-19 18:37] vrnithinkumar commented on #389
@ErikSchierboom, Sorry for delaying it.

[2017-11-21 17:53] ErikSchierboom commented on #384
I'm working on this

[2017-11-21 20:03] ErikSchierboom commented on #343
I'm working on this

[2017-11-22 17:57] #377 closed

[2017-11-22 17:58] #384 closed

[2017-12-10 08:04] robkeim opened #459 "Add Armstrong numbers exercise"
If you'd like to implement this exercise please ensure that you include a test generator for this exercise. Code for the test generators can be found here:
https://github.com/exercism/fsharp/tree/master/generators

Problem specification:
https://github.com/exercism/problem-specifications/blob/master/exercises/armstrong-numbers/description.md

Canonical data:
https://github.com/exercism/problem-spe

[2017-12-10 11:20] ErikSchierboom commented on #459
I'm working on this

[2017-12-10 16:02] #459 closed

[2017-12-11 13:06] ErikSchierboom commented on #361
I'll have a go at this.

[2017-12-13 18:28] ReedCopsey opened #462 "Wrong link on website"
This page: http://www.exercism.io/languages/fsharp/resources

Currently links to http://fpchat.com. However, that is no longer correct for the FP slack workspace. The new link is: https://fpchat-invite.herokuapp.com/

[2017-12-13 18:39] ErikSchierboom commented on #462
Thanks for finding this! I've created a [PR](#463) to fix this.

[2017-12-14 14:44] #462 closed

[2017-12-14 14:45] robkeim commented on #462
Thanks  @ReedCopsey for reporting this. I just merged @ErikSchierboom's PR so this should go live in the next day or so.

[2017-12-18 15:28] #361 closed

[2017-12-23 08:21] ErikSchierboom commented on #379
I'm working on this

[2017-12-25 16:05] #379 closed

[2017-12-27 09:37] ErikSchierboom opened #466 "Support new canonical data format"
The canonical data are in the process of being updated to a new format, where all input properties are grouped under the "input" key (see [this example](https://github.com/exercism/problem-specifications/blob/master/exercises/acronym/canonical-data.json)). We should support this new format.

[2017-12-27 09:37] ErikSchierboom commented on #466
I'm working on this.

[2018-01-06 08:50] ErikSchierboom commented on #397
Closed by #469

[2018-01-06 08:50] #397 closed

[2018-01-06 18:09] roman-shuhov commented on #372
working on this one

[2018-01-08 07:31] ErikSchierboom commented on #372
Closed by #470

[2018-01-08 07:31] #372 closed

[2018-01-11 04:25] roman-shuhov commented on #368
will work on this one

[2018-01-11 08:04] #466 closed

[2018-01-12 05:17] alexyarovoy opened #472 "simple-linked-list exercise is solved from the start"
SimpleLinkedList.fs already contains all the implementation and passes all the tests
https://github.com/exercism/fsharp/blob/master/exercises/simple-linked-list/SimpleLinkedList.fs

I guess it's expected to be something like this:
`module SimpleLinkedList

type LinkedList<'a> =
    | Nil
    | Element of datum:'a * next:LinkedList<'a>

let nil = Nil

let create x n = failwith "You need to implemen

[2018-01-12 07:18] ErikSchierboom commented on #472
Whoops, that is definitely a bug. Great catch! Would you be willing to create a PR to fix this? If so, you should also remove the `LinkedList` type definition, as we don't want to force people to use a specific type.

[2018-01-12 08:27] alexyarovoy commented on #472
@ErikSchierboom created pull request:
https://github.com/exercism/fsharp/pull/473

[2018-01-12 08:49] ErikSchierboom commented on #472
Closed by #473

[2018-01-12 08:49] #472 closed

[2018-01-14 09:02] ErikSchierboom commented on #383
I'm working on this.

[2018-01-14 09:10] ErikSchierboom commented on #383
Waiting for https://github.com/exercism/problem-specifications/pull/1097 to be merged first.

[2018-01-18 15:58] #383 closed

[2018-01-20 01:26] roman-shuhov commented on #369
will work on this one

[2018-01-20 08:26] ErikSchierboom commented on #368
Closed by #477.

[2018-01-20 08:26] #368 closed

[2018-01-21 10:23] ErikSchierboom opened #480 "Add header with version to exercises that have no generator"
I'm working on this

[2018-01-21 16:06] #343 closed

[2018-01-21 16:07] #480 closed

[2018-01-22 04:29] roman-shuhov commented on #394
will work on this one

[2018-01-26 19:53] WalternativE commented on #307
If I understand the ticket correctly a user would pull the container and start it up with a volume mapping. The exercism CLI would then use the mount point for this volume as the working directory which would enable the use to work on the files outside of their container with whatever tool they see as the best fit (VS, VS Code, vim, emacs, a simple text editor). Is this correct?

[2018-01-28 05:06] roman-shuhov commented on #369
Should we close this ticket?

[2018-01-28 09:03] ErikSchierboom commented on #394
Closed by #493

[2018-01-28 09:03] #394 closed

[2018-01-28 09:03] ErikSchierboom commented on #369
Yes, we should indeed. Closed by #479.

[2018-01-28 09:03] #369 closed

[2018-01-28 09:17] ErikSchierboom opened #494 "binary-search-tree: Add generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found [here](https://github.com/exercism/problem-specifications/blob/master/exercises/binary-search-tree/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the existing generators a

[2018-01-28 09:17] ErikSchierboom opened #495 "matrix: Add generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found [here](https://github.com/exercism/problem-specifications/blob/master/exercises/matrix/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the existing generators and the base

[2018-01-28 09:18] ErikSchierboom opened #496 "saddle-points: Add generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found [here](https://github.com/exercism/problem-specifications/blob/master/exercises/saddle-points/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the existing generators and th

[2018-01-28 09:18] ErikSchierboom opened #497 "space-age: Add generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found [here](https://github.com/exercism/problem-specifications/blob/master/exercises/space-age/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the existing generators and the ba

[2018-01-28 09:18] ErikSchierboom opened #498 "sublist: Add generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found [here](https://github.com/exercism/problem-specifications/blob/master/exercises/sublist/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the existing generators and the base

[2018-01-28 09:19] ErikSchierboom opened #499 "tournament: Add generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found [here](https://github.com/exercism/problem-specifications/blob/master/exercises/tournament/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the existing generators and the b

[2018-01-28 09:19] ErikSchierboom opened #500 "transpose: Add generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found [here](https://github.com/exercism/problem-specifications/blob/master/exercises/transpose/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the existing generators and the ba

[2018-01-28 09:19] ErikSchierboom opened #501 "two-bucket: Add generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found [here](https://github.com/exercism/problem-specifications/blob/master/exercises/two-bucket/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the existing generators and the b

[2018-01-28 09:19] ErikSchierboom opened #502 "variable-length-quantity: Add generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found [here](https://github.com/exercism/problem-specifications/blob/master/exercises/variable-length-quantity/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the existing genera

[2018-01-28 09:20] ErikSchierboom opened #503 "word-search: Add generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found [here](https://github.com/exercism/problem-specifications/blob/master/exercises/word-search/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the existing generators and the

[2018-01-28 09:20] ErikSchierboom opened #504 "zipper: Add generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found [here](https://github.com/exercism/problem-specifications/blob/master/exercises/zipper/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the existing generators and the base

[2018-01-28 09:23] ErikSchierboom commented on #497
I'm working on this

[2018-01-28 09:31] ErikSchierboom commented on #501
I'm working on this

[2018-01-29 08:36] ErikSchierboom commented on #307
@WalternativE That is correct. There is a more general discussion going on here: https://github.com/exercism/discussions/issues/122

[2018-01-30 15:58] ErikSchierboom commented on #502
I'm working on this

[2018-02-02 12:36] robkeim opened #506 "Implement rational numbers exercise"
If you want to implement this exercise, please note that you need to ensure the test cases are generated based on the input.

Here's the exercise description:
https://github.com/exercism/problem-specifications/blob/master/exercises/rational-numbers/description.md

Here's the test case data:
https://github.com/exercism/problem-specifications/blob/master/exercises/rational-numbers/canonical-data.jso

[2018-02-03 08:33] ErikSchierboom commented on #497
Closed by #505.

[2018-02-03 08:33] #497 closed

[2018-02-03 08:34] ErikSchierboom commented on #499
I'm working on this

[2018-02-03 08:40] ErikSchierboom commented on #500
I'm working on this.

[2018-02-03 08:52] ErikSchierboom commented on #495
I'm working on this

[2018-02-03 09:01] ErikSchierboom commented on #498
I'm working on this

[2018-02-03 09:06] ErikSchierboom commented on #496
I'm working on this

[2018-02-03 14:48] #500 closed

[2018-02-03 14:48] #498 closed

[2018-02-03 14:48] #496 closed

[2018-02-03 14:48] ErikSchierboom commented on #495
Closed by #509.

[2018-02-03 14:48] #495 closed

[2018-02-04 16:33] ErikSchierboom commented on #503
I'm working on this.

[2018-02-06 07:53] ErikSchierboom commented on #506
I'm working on this.

[2018-02-06 15:07] #503 closed

[2018-02-06 16:07] ErikSchierboom commented on #502
I'm working on this.

[2018-02-08 15:20] #501 closed

[2018-02-08 15:22] #502 closed

[2018-02-08 15:24] #506 closed

[2018-02-10 11:53] ErikSchierboom commented on #494
I'm working on this.

[2018-02-12 08:17] ErikSchierboom commented on #306
I looked into this, but unfortunately, it appears there is a bug: https://github.com/fsprojects/FSharpLint/issues/250

[2018-02-12 10:25] #494 closed

[2018-02-12 10:27] ErikSchierboom commented on #409
@NobbZ Would you be interested in helping us revamp the error-handling exercise?

[2018-02-12 10:28] ErikSchierboom commented on #504
I'm working on this.

[2018-02-16 21:34] NobbZ commented on #409
Of course I am interested, but I am not really sure how I could help.

[2018-02-17 07:24] ErikSchierboom commented on #409
@NobbZ Well, perhaps by creating PR or otherwise to help us come up with a better implementation.

[2018-03-14 10:16] nywilken opened #520 "Track configuration contains improperly locked exercises"
In the upcoming release of [Configlet v3.8.0](https://github.com/exercism/configlet/issues/121), the lint command will now verify that locked exercises meet the unlocked_by criteria, as defined by the track [configuration spec](https://github.com/exercism/docs/blob/master/language-tracks/configuration/exercises.md):

- Core exercises can not be unlocked by other exercises.
- Non-core exercises can

[2018-04-01 05:51] petertseng opened #522 "pov: children as member causes error FS0072; I suggest annotating arg of graphToList"
I preferred to have my Graph's internal representation of children be a Map:

[code]

Of course, the test wants to be able to say `graph.children` and have that be an `'a Graph list`. That's perfectly reasonable; I'l add it as a member.

[code]

ah, apparently not quite. This causes an error:

[code]

I see. Well, apparently a type annotation may be needed, so if line 10 of https://github.com/exer

[2018-04-01 05:55] petertseng commented on #522
EBWODP:

I said the wrong line but linked to the correct line. I mean line 10. Even though the error is on line 12, the place where the annotation should be added is on line 10.

[2018-04-01 10:06] petertseng commented on #522
Perhaps it now forces students to make their Graph generic. Before, perhaps it was possible for them to have a `Graph` that only works on strings. I wouldn't have encouraged it, but it was possible. Adding `'a Graph` makes it impossible.

[2018-04-01 11:24] robkeim opened #523 "Implement Yacht exercise"
If you want to implement this exercise, please note that you need to ensure the test cases are generated based on the input.

Here's the exercise description:
https://github.com/exercism/problem-specifications/blob/master/exercises/yacht/description.md

Here's the test case data:
https://github.com/exercism/problem-specifications/blob/master/exercises/yacht/canonical-data.json

[2018-04-02 07:29] ErikSchierboom commented on #522
Well, not really, except for the forcing of a generic solution (which is completely fine by the way).

I'm not sure actually. Sometimes the generic type constraints baffle me. You could try the F# slack channel: http://fsharp.org/guides/slack/, where I'm sure there are people that better understand the generic type inference constraints.

[2018-04-02 08:13] petertseng commented on #522
As you guessed, I needed this issue to discuss whether a PR was appropriate. I will make it happen.

There would be a problem even if it were not generic. The following code does not compile:

[code]

because: `
/home/runner/main.fs(5,23): error FS0072: Lookup on object of indeterminate type based on information prior to this program point. A type annotation may be needed prior to this program poi

[2018-04-02 18:23] #522 closed

[2018-04-04 08:04] ErikSchierboom commented on #523
I'm working on this.

[2018-04-04 14:36] #520 closed

[2018-04-04 16:10] ErikSchierboom opened #528 "Use .NET Core version of Cake"
At the moment, we use a CoreCLR specific version of Cake in order to run Cake on .NET Core. However, with [release 0.26.0](https://cakebuild.net/blog/2018/02/cake-v0.26.0-released), Cake is now a .NET standard 2.0 application and as such should also be able to be run directly on .NET Core. We should update our build script to use Cake instead of Cake.CoreCLR, as this will allow us to remove the .N

[2018-04-04 17:09] #523 closed

[2018-04-05 08:53] ErikSchierboom opened #529 "Simplify test generator base class"
Once the last generator (see #504) has been implemented, it is a good time to see which methods of the base generator class are actually used. After this analysis, we probably want to convert all virtual methods that are not overridden to plain, non-virtual methods.

Once this is done, we can then check to see if some of those converted methods can perhaps be inlined, as they won't need to be over

[2018-04-05 08:54] ErikSchierboom opened #530 "Add documentation for test generators"
Once the test generator API has been cleaned-up (see #529), we should add documentation to show off the various features of the test generators and how to add a new one.

[2018-04-05 19:26] ErikSchierboom opened #532 "go-counting: Add generator"
This issue is part of an overall initiative to complete #363.

The canonical data on which the generator will be based can be found [here](https://github.com/exercism/problem-specifications/blob/master/exercises/go-counting/canonical-data.json).

There is no documentation yet on how to add generators, but you should be able to figure most things about by looking at the existing generators and the

[2018-04-05 19:26] ErikSchierboom commented on #532
I'm working on this.

[2018-04-09 15:24] #528 closed

[2018-04-09 15:25] #504 closed

[2018-04-15 07:36] ErikSchierboom commented on #307
I've given this topic a little bit more thought, and in the end I don't think we stand to benefit much from having a Docker image with Exercism pre-installed. If someone wants to convince me otherwise, please let me know why you think this is a good idea.

[2018-04-15 07:36] #307 closed

[2018-04-15 07:39] ErikSchierboom commented on #529
I'm working on this.

[2018-04-17 16:32] #529 closed

[2018-04-18 06:42] #530 closed

[2018-05-09 18:15] PurityControl opened #547 "Tests fail to run for Bob"
I have downloaded the bob exercise.

`exercsim fetch fsharp bob`

then within the directory ran the tests:

`dotnet test`

I get a huge number of errors but I think they are all related to the first which is:

`The namespace or module 'NUnit' is not defined. Maybe you want one of the following:   Xunit   FsUnit [/Users/craigferry/workspace/exercism/fsharp/bob/Bob.fsproj]`

I have tried:
`dotnet re

[2018-05-31 16:56] rmunn opened #549 "Hangman exercise says language-specific files will contain explanations; no such files exist"
1. Run `exercism f fsharp` to fetch the hangman exercise (if you're at that point).
1. The README says "You'll need to install an FRP library for this, this will be described in the language/track specific files of the exercise."
1. Nothing in the F#-specific files suggests which FRP library should be downloaded, or even a mesasge like "You don't need an FRP library for this; here's a skeleton of

[2018-05-31 18:04] ErikSchierboom commented on #549
Yeah, I've been struggling a lot with the FRP approach, chiefly because of my lack of experience with such an approach. Do you perhaps have any experience with FRP? And if so, would you be willing to help us re-design this exercise to use proper FRP?

[2018-06-01 01:26] rmunn commented on #549
I don't have any experience with FRP myself either, so I'm perhaps not the best person to work on this. A couple resources that might be useful: [a good intro to FRP concepts in Javascript](https://gist.github.com/staltz/868e7e9bc2a7b8c1f754), and [the Gjallarhorn library](https://reedcopsey.github.io/Gjallarhorn/) which is designed to take the Observable stuff from .Net and make it more idiomatic

[2018-06-02 22:59] kytrinyx opened #550 "Where are the F# communities and enthusiasts?"
As we move towards the launch of the new version of Exercism we are going to be ramping up on actively recruiting people to help provide feedback.

Our goal is to get to 100%: everyone who submits a solution and wants feedback should get feedback. Good feedback. You can read more about this aspect of the new site here: http://mentoring.exercism.io/

To do this, we're going to need a lot more infor

[2018-06-04 09:59] ErikSchierboom commented on #550
Yes, it is supported by Microsoft. We used to have Xamarin as a medium-to-large organization supporting C#, but they have been acquisitioned by Microsoft.

Yes, [Phillip Carter](https://github.com/cartermp).

There is the [F# Foundation](http://foundation.fsharp.org/), which has a [Slack page](https://fsharp.org/guides/slack/). Also, the F# channel on the [functional-programming Slack page](https:

[2018-06-11 18:02] kytrinyx commented on #550
Lovely, thank you! One of the things I want to do once the v2 site is public is reach out to the fantastic folks that are running both the F# and C# community efforts at Microsoft to see how we can make Exercism a better resource for them.

[2018-06-12 02:43] kytrinyx opened #553 "Ensure F# track is ready for v2 launch"
There are a number of things we're going to want to check before the v2 site goes live. There are notes below that flesh out all the checklist items.

- [x] The track has a page on the v2 site: https://v2.exercism.io/tracks/fsharp
- [x] The track page has a short description under the name (not starting with `TODO`)
- [x] The "About" section is a friendly, colloquial, compelling introduction
- [x]

[2018-06-12 14:29] ErikSchierboom commented on #553
@kytrinyx The first exercise is `hello-world` and doesn't have an `auto_approve` attribute. Should I add it or should I consider it auto-approved due to the current backend implementation?

[2018-06-13 00:00] kytrinyx commented on #553
I'd like to make it explicit in the config. Thanks for asking!

[2018-06-16 10:03] #553 closed

[2018-06-16 10:04] ErikSchierboom commented on #553
With #554 merged, the `hello-world` exercise has now been explicitly marked as auto approved, so I think we now have all checkboxes ticked.

[2018-06-19 20:53] kytrinyx commented on #550
I've got what I need for now; closing this out. (Should you come across any other good sources, feel free to add them here, I'll be coming back to this). ❤️ 💛 💚 💙 💜 🖤 Thanks!

[2018-06-19 20:53] #550 closed

[2018-06-23 10:42] ErikSchierboom opened #559 "Consider adding hint to each exercise explaining how to test the code"

[2018-06-30 07:51] ErikSchierboom commented on #446
Ooh, there is progress being made: https://github.com/Microsoft/vstest/pull/1664

[2018-07-01 19:53] jrr opened #560 "matrix: incorrect function stub name ("col" vs "column")"
The _matrix_ exercise tests call the functions `row` and `column`, but the placeholder stubs are `row` and `col`.

https://github.com/exercism/fsharp/tree/master/exercises/matrix

It looks like the mismatch was introduced with this commit:
https://github.com/exercism/fsharp/commit/aa7f23d442dd467ed22412c579fabd24ac655c17

[2018-07-02 10:40] ErikSchierboom commented on #560
@jrr Great catch! Would you be willing to submit a PR to fix this?

[2018-07-02 13:45] jrr commented on #560
Sure! I was about to dive in, but hesitated when I noticed that some of the files are generated. Is the generation system documented somewhere? What's the right file to edit?

[2018-07-03 08:16] ErikSchierboom commented on #560
@jrr The only files that are generated, are the test files. The example and stub implementation files are manually created, so you don't have to dive into the generators system (the docs can be found [here](https://github.com/exercism/fsharp/blob/master/docs/GENERATORS.md)).

The file you are looking to edit is [exercises/matrix/Matrix.fs](https://github.com/exercism/fsharp/blob/master/exercises/m

[2018-07-04 06:02] ErikSchierboom commented on #560
Closed by #561.

[2018-07-04 06:02] #560 closed

[2018-07-04 14:44] robkeim commented on #446
Nice!

[2018-07-10 09:47] ErikSchierboom commented on #446
The PR has been [merged](https://github.com/Microsoft/vstest/pull/1664). It's now just a matter of waiting for the next version that contains the fix.

[2018-07-17 14:34] ErikSchierboom opened #562 "space-age: Compare values using explicit precision"

[2018-07-27 04:30] ricemery opened #566 "Remove unneeded hint in gigasecond exercise"
There is a hint in the hints file that states

Is this a valid hint? The unit tests pass without getting just the Date on either the input or the result.

Thx

[2018-07-27 06:48] ErikSchierboom commented on #566
Aha, it was a valid hint before the exercise was updated to reflect the canonical data.

[2018-07-28 07:12] ErikSchierboom commented on #566
Closed by #567.

[2018-07-28 07:12] #566 closed

[2018-07-30 11:39] #562 closed

[2018-08-03 16:12] jackhughesweb opened #569 "Fix getting started instructions for fsharp"
Some exercise README templates contain links to pages which no longer exist in v2 Exercism.

For example, C++'s README template had a link to /languages/cpp for instructions on running tests. The correct URLs to use can be found in the 'Still stuck?' sidebar of exercise pages on the live site. You'll need to join the track and go to the first exercise to see them.

Please update any broken links i

[2018-08-03 23:36] ricemery opened #570 "Question - Triangle Exercise Topic"
I have a question about the Triangle Exercise Topics.

One of the topics is "Discriminated Unions". I do not see any Discriminated Union types being used in the interface of the solution. I am wondering if this is an out of date topic for this exercise?

[2018-08-04 12:07] robkeim commented on #570
Hello @ricemery thanks for raising this issue! This is indeed an out-of-date topic and needs to be removed. I'll go ahead and send a PR for that.

[2018-08-04 12:10] robkeim commented on #570
This will be fixed as part of PR #572

[2018-08-04 20:27] ricemery commented on #570
Cool. Glad to help.

[2018-08-04 20:28] #570 closed

[2018-08-07 11:26] ErikSchierboom opened #574 "Check ordering of core exercises"
This is the current list of core exercises:

- `hello-world`: strings
- `leap`: control_flow_if_else_statements, integers
- `bob`: control_flow_if_else_statements, strings
- `sum-of-multiples`: lists, math, transforming
- `two-fer`: optional_values, strings
- `space-age`: discriminated_unions, floating_point_numbers
- `raindrops`: filtering, text_formatting
- `accumulate`: recursion, transforming

[2018-08-07 11:26] ErikSchierboom commented on #574
Some initial thoughts on this:

- `two-fer` should be much higher in the list, as it is actually quite easy.
- we should remove `sum-of-multiples` as a core exercise (see [this thread](https://github.com/exercism/exercism.io/issues/4110#issuecomment-410840861)).
- maybe `tree-building` isn't a great core exercise, as it is primarily about refactoring and as such, does not teach any new skills.

[2018-08-07 18:12] ErikSchierboom commented on #569
Closed by #573.

[2018-08-07 18:12] #569 closed

[2018-08-07 18:12] ErikSchierboom commented on #559
Closed by #573.

[2018-08-07 18:12] #559 closed

[2018-08-13 18:49] ErikSchierboom commented on #574
This is my proposal for the new track progression:

# Difficulty: easy

`two-fer` (_core_): optional_values, strings
 -> `reverse-string`: strings
 -> `pangram`: strings
 -> `isogram`: filtering, strings
 -> `gigasecond` (_core_): dates

`space-age` (_core_): floating point numbers
 -> `difference-of-squares`: control_flow_loops, integers, math
 -> `sum-of-multiples`: arrays, math, transforming
 -

[2018-08-19 18:56] kytrinyx opened #576 "Remove obsolete version tracking assertions in exercises"
Some tracks have added assertions to the exercise test suites that ensure that the solution has a hard-coded version in it.
In the old version of the site, this was useful, as it let commenters see what version of the test suite the code had been written against, and they wouldn't accidentally tell people that their code was wrong, when really the world had just moved on since it was submitted.

I

[2018-08-20 06:56] ErikSchierboom commented on #576
The test suites that are automatically generated have the canonical data's version number in their header, but we don't do any asserting of the version number.

[2018-08-20 06:56] #576 closed

[2018-08-20 19:17] kytrinyx commented on #576
Yeah, showing a version is fine, it's the assertion that adds some really confusing requirements for people. Thanks!

[2018-08-21 17:21] ErikSchierboom opened #577 "Convert Yacht exercise to use discriminated union for dice values"
We currently use integers to represent a dice value, but as the value is actually very restricted (1 to 6), we should use a discriminated union.

[2018-09-25 22:04] MaritimeMartin opened #578 "Function signature rational-numbers/RationalNumbers.fs is incorrect"
`
let exprational r = failwith "You need to implement this function."

let expreal r = failwith "You need to implement this function."
`

They both don't have the signature which is used in RationalNumbersTest.fs

[2018-09-26 08:30] ErikSchierboom commented on #578
Great catch! Would you be willing to create a PR for this? The relevant file can be found here: https://github.com/exercism/fsharp/blob/master/exercises/rational-numbers/RationalNumbers.fs

[2018-09-26 09:03] MaritimeMartin commented on #578
Thanks Erik.
Sure I would do. I am totally new to Github, so I've to find out how things work first, but I am more than willing in supporting you with the F# Track. There have been some other issues earlier at the track but that one was the reason for me to signup here :-)

[2018-09-26 11:10] ErikSchierboom commented on #578
Great to hear! We can definitely use help with the F# track.

Take your time getting to know GitHub, no rush here! There are some nice guides on github.com itself, e.g. https://guides.github.com/activities/forking/.

[2018-10-02 06:26] ErikSchierboom opened #581 "Allow generator to output outdated exercises"
It would be quite useful if the generator would allow for displaying the exercises that have a test suite that is based on an outdated version of the canonical data.

To list these outdated exercises, one should be able to do `dotnet run -s Outdated`.

The generators code can be found [here](https://github.com/exercism/fsharp/tree/master/generators), and the documentation can be found [here](https

[2018-10-02 17:20] ErikSchierboom opened #582 "Implement new exercise: affine-cipher"
There is a new exercise, [affine-cipher](https://github.com/exercism/problem-specifications/blob/master/exercises/affine-cipher/description.md), which data can be found here: https://github.com/exercism/problem-specifications/tree/master/exercises/affine-cipher

To implement the `affine-cipher` exercise, the following needs to be done:

- Create a directory for the new exercise in the `exercises`

[2018-10-02 17:20] ErikSchierboom opened #583 "Implement new exercise: rest-api"
There is a new exercise, [rest-api](https://github.com/exercism/problem-specifications/blob/master/exercises/rest-api/description.md), which data can be found here: https://github.com/exercism/problem-specifications/tree/master/exercises/rest-api

To implement the `rest-api` exercise, the following needs to be done:

- Create a directory for the new exercise in the `exercises` directory (note: thi

[2018-10-02 17:21] ErikSchierboom opened #584 "Add generator for exercise: pythagorean-triplet"
The [pythagorean-triplet](https://github.com/exercism/problem-specifications/blob/master/exercises/pythagorean-triplet/description.md) now has [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/pythagorean-triplet/canonical-data.json). We should replace the existing, manually crafted test suite with on that is automatically generated based on the canonical da

[2018-10-02 17:21] ErikSchierboom opened #585 "Add generator for exercise: sgf-parsing"
The [sgf-parsing](https://github.com/exercism/problem-specifications/blob/master/exercises/pythagorean-triplet/description.md) now has [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/sgf-parsing/canonical-data.json). We should replace the existing, manually crafted test suite with on that is automatically generated based on the canonical data.

To implemen

[2018-10-02 17:22] ErikSchierboom opened #586 "Add generator for exercise: grade-school"
The [grade-school](https://github.com/exercism/problem-specifications/blob/master/exercises/pythagorean-triplet/description.md) now has [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/grade-school/canonical-data.json). We should replace the existing, manually crafted test suite with on that is automatically generated based on the canonical data.

To implem

[2018-10-02 17:30] ErikSchierboom opened #587 "Update test suite for exercise: pascals-triangle"
The `pascals-triangle` exercise's [test suite](https://github.com/exercism/fsharp/blob/master/exercises/pascals-triangle/PascalsTriangleTest.fs) is automatically generated using its [test generator](https://github.com/exercism/fsharp/blob/master/generators/Generators.fs). This test generator converts the `pascals-triangle`'s [canonical data](https://github.com/exercism/problem-specifications/blob/

[2018-10-02 17:30] ErikSchierboom opened #588 "Update test suite for exercise: wordy"
The `wordy` exercise's [test suite](https://github.com/exercism/fsharp/blob/master/exercises/wordy/WordyTest.fs) is automatically generated using its [test generator](https://github.com/exercism/fsharp/blob/master/generators/Generators.fs). This test generator convertsthe `wordy`'s [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/wordy/canonical-data.json)

[2018-10-02 17:30] ErikSchierboom opened #589 "Update test suite for exercise: ocr-numbers"
The `ocr-numbers` exercise's [test suite](https://github.com/exercism/fsharp/blob/master/exercises/ocr-numbers/OcrNumbersTest.fs) is automatically generated using its [test generator](https://github.com/exercism/fsharp/blob/master/generators/Generators.fs). This test generator converts the `ocr-numbers`'s [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/ocr

[2018-10-02 17:30] ErikSchierboom opened #590 "Update test suite for exercise: phone-number"
The `phone-number` exercise's [test suite](https://github.com/exercism/fsharp/blob/master/exercises/phone-number/PhoneNumberTest.fs) is automatically generated using its [test generator](https://github.com/exercism/fsharp/blob/master/generators/Generators.fs). This test generator converts the `phone-number`'s [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises

[2018-10-02 17:30] ErikSchierboom opened #591 "Update test suite for exercise: say"
The `say` exercise's [test suite](https://github.com/exercism/fsharp/blob/master/exercises/say/SayTest.fs) is automatically generated using its [test generator](https://github.com/exercism/fsharp/blob/master/generators/Generators.fs). This test generator converts the `say`'s [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/say/canonical-data.json) into the

[2018-10-02 17:30] ErikSchierboom opened #592 "Update test suite for exercise: variable-length-quantity"
The `variable-length-quantity` exercise's [test suite](https://github.com/exercism/fsharp/blob/master/exercises/variable-length-quantity/VariableLengthQuantityTest.fs) is automatically generated using its [test generator](https://github.com/exercism/fsharp/blob/master/generators/Generators.fs). This test generator converts the `variable-length-quantity`'s [canonical data](https://github.com/exerci

[2018-10-02 17:30] ErikSchierboom opened #593 "Update test suite for exercise: queen-attack"
The `queen-attack` exercise's [test suite](https://github.com/exercism/fsharp/blob/master/exercises/queen-attack/QueenAttackTest.fs) is automatically generated using its [test generator](https://github.com/exercism/fsharp/blob/master/generators/Generators.fs). This test generator converts the `queen-attack`'s [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises

[2018-10-02 17:31] ErikSchierboom opened #594 "Update test suite for exercise: forth"
The `forth` exercise's [test suite](https://github.com/exercism/fsharp/blob/master/exercises/forth/ForthTest.fs) is automatically generated using its [test generator](https://github.com/exercism/fsharp/blob/master/generators/Generators.fs). This test generator convertsthe `forth`'s [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/forth/canonical-data.json)

[2018-10-02 17:31] ErikSchierboom opened #595 "Update test suite for exercise: binary-search"
The `binary-search` exercise's [test suite](https://github.com/exercism/fsharp/blob/master/exercises/binary-search/BinarySearchTest.fs) is automatically generated using its [test generator](https://github.com/exercism/fsharp/blob/master/generators/Generators.fs). This test generator converts the `binary-search`'s [canonical data](https://github.com/exercism/problem-specifications/blob/master/exerc

[2018-10-02 17:31] ErikSchierboom opened #596 "Update test suite for exercise: change"
The `change` exercise's [test suite](https://github.com/exercism/fsharp/blob/master/exercises/change/ChangeTest.fs) is automatically generated using its [test generator](https://github.com/exercism/fsharp/blob/master/generators/Generators.fs). This test generator converts the `change`'s [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/change/canonical-data.

[2018-10-02 17:31] ErikSchierboom opened #597 "Update test suite for exercise: grains"
The `grains` exercise's [test suite](https://github.com/exercism/fsharp/blob/master/exercises/grains/GrainsTest.fs) is automatically generated using its [test generator](https://github.com/exercism/fsharp/blob/master/generators/Generators.fs). This test generator converts the `grains`'s [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/grains/canonical-data.

[2018-10-02 17:31] ErikSchierboom opened #598 "Update test suite for exercise: acronym"
The `acronym` exercise's [test suite](https://github.com/exercism/fsharp/blob/master/exercises/acronym/AcronymTest.fs) is automatically generated using its [test generator](https://github.com/exercism/fsharp/blob/master/generators/Generators.fs). This test generator converts the `acronym`'s [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/acronym/canonical-

[2018-10-02 17:32] ErikSchierboom opened #599 "Update test suite for exercise: isogram"
The `isogram` exercise's [test suite](https://github.com/exercism/fsharp/blob/master/exercises/isogram/IsogramTest.fs) is automatically generated using its [test generator](https://github.com/exercism/fsharp/blob/master/generators/Generators.fs). This test generator converts the `isogram`'s [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/isogram/canonical-

[2018-10-02 17:32] ErikSchierboom opened #600 "Update test suite for exercise: clock"
The `clock` exercise's [test suite](https://github.com/exercism/fsharp/blob/master/exercises/clock/ClockTest.fs) is automatically generated using its [test generator](https://github.com/exercism/fsharp/blob/master/generators/Generators.fs). This test generator convertsthe `clock`'s [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/clock/canonical-data.json)

[2018-10-02 17:32] ErikSchierboom opened #601 "Update test suite for exercise: anagram"
The `anagram` exercise's [test suite](https://github.com/exercism/fsharp/blob/master/exercises/anagram/AnagramTest.fs) is automatically generated using its [test generator](https://github.com/exercism/fsharp/blob/master/generators/Generators.fs). This test generator converts the `anagram`'s [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/anagram/canonical-

[2018-10-02 17:32] ErikSchierboom opened #602 "Update test suite for exercise: book-store"
The `book-store` exercise's [test suite](https://github.com/exercism/fsharp/blob/master/exercises/book-store/BookStoreTest.fs) is automatically generated using its [test generator](https://github.com/exercism/fsharp/blob/master/generators/Generators.fs). This test generator converts the `book-store`'s [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/book-st

[2018-10-02 17:32] ErikSchierboom opened #603 "Update test suite for exercise: markdown"
The `markdown` exercise's [test suite](https://github.com/exercism/fsharp/blob/master/exercises/markdown/MarkdownTest.fs) is automatically generated using its [test generator](https://github.com/exercism/fsharp/blob/master/generators/Generators.fs). This test generatorconverts the `markdown`'s [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/markdown/canoni

[2018-10-02 17:33] ErikSchierboom opened #604 "Update test suite for exercise: bob"
The `bob` exercise's [test suite](https://github.com/exercism/fsharp/blob/master/exercises/bob/BobTest.fs) is automatically generated using its [test generator](https://github.com/exercism/fsharp/blob/master/generators/Generators.fs). This test generator converts the `bob`'s [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/bob/canonical-data.json) into the

[2018-10-02 17:40] ErikSchierboom opened #605 "Update test suite for exercise: collatz-conjecture"
The `collatz-conjecture` exercise's [test suite](https://github.com/exercism/fsharp/blob/master/exercises/collatz-conjecture/CollatzConjectureTest.fs) is automatically generated using its [test generator](https://github.com/exercism/fsharp/blob/master/generators/Generators.fs). This test generator converts the `collatz-conjecture`'s [canonical data](https://github.com/exercism/problem-specificatio

[2018-10-02 17:40] ErikSchierboom opened #606 "Update test suite for exercise: rna-transcription"
The `rna-transcription` exercise's [test suite](https://github.com/exercism/fsharp/blob/master/exercises/rna-transcription/RnaTranscriptionTest.fs) is automatically generated using its [test generator](https://github.com/exercism/fsharp/blob/master/generators/Generators.fs). This test generator converts the `rna-transcription`'s [canonical data](https://github.com/exercism/problem-specifications/b

[2018-10-02 17:41] jkaan commented on #604
I would like to take this one if that's okay :).

[2018-10-02 17:53] ErikSchierboom commented on #604
Sure!

[2018-10-02 18:18] jkaan commented on #604
Once I run the `dotnet run -e bob` in the generators folder I get this error message:

Do you know what that could be?

![image](https://user-images.githubusercontent.com/3824068/46368357-4e812480-c680-11e8-9b6b-3b5e42001734.png)

[2018-10-02 18:28] Ishaan28malik commented on #596
can i do this one ?
please help me how to do it or brief me out ..

[2018-10-02 18:47] ErikSchierboom commented on #596
You can take it! The how to is specified in the comments above.

[2018-10-02 18:47] ErikSchierboom commented on #604
Well that's odd! I have never had that problem. On which system are you running the code?

[2018-10-02 18:48] jkaan commented on #604
A Mac. Dotnet version 2.1.402

[2018-10-02 18:50] ErikSchierboom commented on #604
Hmmm, I also have a Mac. I can test it later. Which MacOS version?

[2018-10-02 18:51] jkaan commented on #604
Mojave, could that be it?

[2018-10-02 18:53] ErikSchierboom commented on #604
Could be! Could you see if there are packages you can update?

[2018-10-02 18:54] Ishaan28malik commented on #596
ok thanks do i need to forkedit and then PR ?

[2018-10-02 18:55] ErikSchierboom commented on #596
Correct.

[2018-10-02 19:00] jkaan commented on #604
@ErikSchierboom What packages are you referring to? I'm quite new to C# so :).

[2018-10-02 19:17] Ishaan28malik commented on #596
ok so i am starting with it
is it for us or it's your own issue that u will solve yourself ?

[2018-10-02 19:17] Ishaan28malik commented on #596
as i am starting with it ..

[2018-10-02 19:31] MaritimeMartin commented on #597
I run `dotnet run -e grains` but nothing changed on the test file. I am not sure if this is good or bad.

[2018-10-02 19:37] ErikSchierboom commented on #597
Are you sure? I expect the test generator to crash based on this change: https://github.com/exercism/problem-specifications/commit/2ec42ab21ff9d3b72ea907457f257073824cb97e

Can you post the console output?

[2018-10-02 19:44] MaritimeMartin commented on #597
Those changes are already considered in the [test file](https://github.com/exercism/fsharp/blob/master/exercises/grains/GrainsTest.fs)

[2018-10-02 19:51] ErikSchierboom commented on #597
If I run the specified command, the tests don't change, but the version number does. I'd be perfectly happy with a PR with just a version update.

[2018-10-02 19:55] Ishaan28malik commented on #596
no issues i am doing my thing just wait.

[2018-10-02 20:10] jkaan commented on #604
@ErikSchierboom If I update all the packages then I still get the same message.

[2018-10-02 21:01] ErikSchierboom commented on #604
Have you tried googling for the error?

[2018-10-02 21:02] ErikSchierboom commented on #590
This is odd. I'll get back to you tomorrow

[2018-10-03 06:11] ErikSchierboom commented on #590
I've looked into this a bit, and it is really weird. If I run `dotnet run -e phone-number`, the test file gets updated. This works both on my two machines at home (Windows and Mac), and my work machine. Let's see if we can figure out what goes wrong.

First, could you print the console output that you get when running the command?

[2018-10-03 06:20] ErikSchierboom commented on #604
I've looked into this a bit, and it is a really odd problem that I have never seen. It is not Mojave I think, as my Mac also runs Mojave and it works there.

With some Googling, I found some issues that seem related:

- https://github.com/JuliaLang/julia/issues/16009#issuecomment-213594382
- https://github.com/Vector35/binaryninja-api/issues/823
- https://github.com/GitTools/GitVersion/issues/436

[2018-10-03 06:21] ErikSchierboom opened #608 "Update test generator project to .NET Core 2.1"

[2018-10-03 07:17] ErikSchierboom commented on #604
Coudl you perhaps also show the command-line output?

[2018-10-03 07:19] ErikSchierboom commented on #597
Note: the problem has been located! The instructions forgot to mention that you have to run the dotnet command in the `generators` directory. Sorry about that.

[2018-10-03 07:20] ErikSchierboom commented on #590
Note: the problem has been located! The instructions forgot to mention that you have to run the dotnet command in the `generators` directory. Sorry about that.

[2018-10-03 12:44] spencerwi commented on #577
Were you thinking something like this?

[code]

Or something more complex like a custom numeric type as outlined by Tomas Petricek [in this blog post)(http://tomasp.net/blog/fsharp-custom-numeric.aspx/index.html)?

Either way, I can do the conversion (shouldn't be too hard).

[2018-10-03 13:12] ErikSchierboom commented on #577
That looks very cool, and is indeed what I was aiming at. I would like the test suite to use the discriminated union, only dealing with integers regarding the score.

The suggested discriminated union is great, although I think I would prefer it if the stub implementation only contained the type definition:

[code]

So without the added `Value` member. That is then something that the student can f

[2018-10-03 13:45] spencerwi commented on #577
Cool, I'm getting started on this. How does one actually run the generator that generates the tests? I want to make sure my changes to the test won't just get overwritten (or will get correctly overwritten).

[2018-10-03 14:05] ErikSchierboom commented on #577
Well, you don't manually edit the test suite, as running the test generator would indeed overwrite the changes, but you modify the generator itself to output the correct values! You can find the generators code [here](https://github.com/exercism/fsharp/blob/master/generators/Generators.fs#L1496), and documentation on how to write/customize a generator can be found [here](https://github.com/exercis

[2018-10-03 14:08] spencerwi commented on #577
Awesome, that's what I was looking for. Thanks!

On Wed, Oct 3, 2018 at 10:06 AM Erik Schierboom <notifications@github.com>
wrote: